<!-- services section -->
<section class="obk_services_section pb-100">
  <div class="container">
    <h2 class="text-center pt-100">Terms Of Service</h2>
    <div class="inner_content">
      <div>
        <h3 class="fs_18">PERSONAL INFORMATION</h3>
        <p>Personal information is data that can be used to uniquely identify or contact a single person. We DO
          NOT collect, store or use any personal information while you visit, download or upgrade our website or
          our products, excepting the personal information that you submit to us when you create a user account,
          send an error report or participate in online surveys and other activities. Only for the following
          purposes that we may use personal information submitted by you: help us develop, deliver, and improve
          our products and services and supply higher quality service; manage online surveys and other
          activities you’ve participated in. In the following circumstances, we may disclose your personal
          information according to your wish or regulations by law: <br>
          (1) Your prior permission; <br>
          (2) By the applicable law within or outside your country of residence, legal process, litigation
          requests;<br>
          (3) By requests from public and governmental authorities; <br>
          (4) To protect our legal rights and interests.</p>
      </div>
      <div>
        <h3 class="fs_18">Non-Personal Information</h3>
        <p>Non-personal information is data in a form that does not permit direct association with any specific
          individual, including but not limited to your device and app history, contacts, SMS, location, camera,
          photos, media, files, wi-fi connection information, device ID and call information, calendar, CPN
          model, memory size, your phone IMEI number, phone model, install, uninstall, frequency of use, etc. We
          may collect and use non-personal information in the following circumstances. To have a better
          understanding in user’s behavior, solve problems in products and services, improve our products,
          services and advertising, we may collect non-personal information such as the data of install and
          uninstall (including list of installed apps), frequency of use, country, equipment and channel. If
          non-personal information is combined with personal information, we treat the combined information as
          personal information for the purposes of this Privacy Policy.</p>
      </div>
      <div>
        <h3 class="fs_18">Information Security</h3>
        <p>Ryan Card is very concerned about safeguarding the confidentiality of your information. We will not
          collect Personal Information, in the meanwhile we employ administrative, physical and electronic
          measures designed to protect your Non-Personal Information from unauthorized access and use.</p>
      </div>
      <div>
        <h3 class="fs_18">Privacy Questions</h3>
        <p>If you have any questions or concerns about our Privacy Policy or data processing, please <a
            href="mailto:info@ryan-card.com"> contact us</a> <br>
          We may update Privacy Policy from time to time. When we change the policy in a material way, a notice
          will be posted on our website along with the updated Privacy Policy.</p>
      </div>
    </div>
  </div>
</section>
