<div class="profile_dashboard">
  <div class="head">
    <div class="">
      <h3 class="fs_32 my-0">{{"Profile" | translate}}</h3>
    </div>
  </div>
  <form [formGroup]="customerForm">
    <div class="edit_customers_box pt-5">
      <div>
        <div class="row fst_col">
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{'Name' | translate}}</label>
            <input type="text" id="text" placeholder="{{'NamePlaceholder' | translate}} ..." class="fs_14"
              formControlName="name"> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'name')">
                {{"PleaseEnterName" | translate}}</span></span>
          </div>
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{"Address" | translate}}</label>
            <input type="text" id="texts" placeholder="{{'AddressPlaceholder' |  translate}} ..." class="fs_14"
              formControlName="address">
            <br><span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'address')">
                {{"PleaseEnterAddress" | translate}}</span></span>
          </div>
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{"Email" | translate}}</label>
            <input type="email" id="email" placeholder="{{'EmailPlaceholder' | translate}} ..." class="fs_14"
              formControlName="email" readonly><br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'email')">
                {{"PleaseEnterEmail" | translate}}
              </span></span>
          </div>
        </div>
        <div class="row fst_col">
          <div class="mb-2 col-xl-4">
            <div class="position-relative">
              <label class="fs_18 w-100">{{"Password" | translate}}</label>
              <input [type]="isPassword ? 'password' : 'text'" class="fs_14 test-input" formControlName="password"
                autocomplete="off" required>
              <a class="click_eye" (click)=" isPassword = !isPassword ">
                <i class="far fa-eye" *ngIf="isPassword"></i>
                <img src="assets/images/pass-eye-icon.svg" alt="arrow" class="check" *ngIf="!isPassword">
              </a>
            </div>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'password')">
                {{"PleaseEnterPassword" | translate}}</span></span>
          </div>
          <div class="mb-2 col-xl-4">
            <div class="position-relative">
              <label class="fs_18 w-100">{{"ConfirmPassword" | translate}}</label>
              <input [type]="isConfirmPassword ? 'password': 'text'" class="fs_14 test-input" autocomplete="off"
                formControlName="confirmPassword" required>
              <a class="click_eye" (click)="isConfirmPassword = !isConfirmPassword">
                <i class="far fa-eye" *ngIf="isConfirmPassword"></i>
                <img src="assets/images/pass-eye-icon.svg" alt="arrow" class="check" *ngIf="!isConfirmPassword">
              </a>
            </div>
            <span class="errorText">
              <span class="text-danger" *ngIf="controlHasError('required', 'confirmPassword')">
                {{"PleaseEnterPassword" | translate}}</span>
              <span class="text-danger"
                *ngIf="hasError">{{"ConfirmPasswordShouldBeSameAsPassword" | translate}}</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="submit_btns">
      <button class="cancel_btn" (click)="customerForm.reset()">{{"Reset" | translate}}</button>
      <button class="save_btn" (click)="submit()" [disabled]="customerForm.invalid"
        [ngClass]="customerForm.invalid ? 'disable': ''">{{"Save" | translate}}</button>
    </div>
  </form>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
