<div class="card_dashboard">
  <div class="head">
    <div class="secondBar">
      <h3 class="fs_32 my-0 mb-3">{{'TransactionReport' | translate}}</h3>
      <div class="d-flex align-items-center flex-wrap" [formGroup]="reportForm">
        <mat-form-field class="daterange  w-300" appearance="outline">
          <mat-label>{{ 'CustomerName' | translate}}</mat-label>
          <mat-select formControlName="customer">
            <mat-option value="" selected>---- {{'PleaseSelectCustomer' | translate}} ----</mat-option>
            <mat-option [value]="customer.id" *ngFor="let customer of customerList;">{{customer.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="cards_row">
    <h1 class="fs_32 my-0 mb-3" *ngIf="!isLoading && transactionList?.length <= 0">{{'NoDataAvailable' | translate}}
    </h1>
    <br>
    <table *ngIf="transactionList && transactionList?.length > 0">
      <tr>
        <th>{{'TransactionDate' | translate}}</th>
        <th>{{'Type' | translate}}</th>
        <th>{{'Amount' | translate}}</th>
        <th>{{'Balance' | translate}}</th>
      </tr>
      <tr *ngFor="let trans of transactionList;">
        <td>{{trans.createdAt | date:"medium"}}</td>
        <td>{{trans.type}}</td>
        <td>{{trans.amount |  number:"2.2-4"}}</td>
        <td>{{trans.newBalance | number:"2.2-4"}}</td>
      </tr>
    </table> <br>
    <div *ngIf="transactionList && transactionList?.length > 0" class="paginator">
      <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
        (paginate)="paginate($event)"></app-paginator>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
