.fs_32 {
  font-size: 2rem;
}

.daterange {
  height: 50px;
  margin-right: 20px;
}

.filter {
  @media (max-width:768px) {
    width: 100%;
  }
}

.mr_22 {
  @media (max-width:768px) {
    margin-right: 22px;
  }
}

.paginator {
  background-color: #fff;
  margin-bottom: 50px;
}
