<div class="orders_dashboard">
  <div class="head">
    <div class="d-block d-md-flex align-items-center justify-content-between flex-wrap">
      <h3 class="fs_32 my-0">{{'Orders' | translate}}</h3>
      <div class="d-flex align-items-center mt-2 flex-wrap">
        <div class="dropdown">
          <div class="search me-2 me-md-3 default_option" [formGroup]="searchGroup" (click)="isDateOpen = false">
            <input type="search" class="search_field mt-2" formControlName="searchTerm"
              placeholder="{{'OrderSearch' | translate}}" name="search" title="Search for:" />
          </div>
        </div>
        <div class="d-flex flex-wrap" [formGroup]="filterGroup">
          <mat-form-field class="daterange filter w-140 mt-2" appearance="outline"
            [ngStyle]="{ 'display' :  isDateOpen ? 'block' : 'none' }">
            <mat-label>{{ 'Vendor' | translate}}</mat-label>
            <mat-select formControlName="vendor">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option [value]="vendor.id" *ngFor="let vendor of venderList;">{{vendor.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="daterange w-140 filter mt-2" appearance="outline"
            [ngStyle]="{ 'display' :  isDateOpen ? 'block' : 'none' }">
            <mat-label>{{ 'Category' | translate}}</mat-label>
            <mat-select formControlName="category">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option [value]="category.id" *ngFor="let category of categoryList;">{{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="daterange w-140 filter mt-2" appearance="outline"
            [ngStyle]="{ 'display' :  isDateOpen ? 'block' : 'none' }">
            <mat-label>{{ 'SubCategory' | translate}}</mat-label>
            <mat-select formControlName="subCategory">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option [value]="sub.id" *ngFor="let sub of subCategoryList;">{{sub.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="daterange w-200 mt-2" appearance="outline"
            [ngStyle]="{ 'display' :  isDateOpen ? 'block' : 'none' }">
            <mat-label>{{"EnterTimeRange" | translate}}</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="{{'Startdate' | translate}}" readonly>
              <input matEndDate formControlName="end" placeholder="{{'EndDate' | translate}}" readonly>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix (click)="clearDate()">
              <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <img src="assets/images/filter.svg" alt="icon" class="input-group-addon filter_icon ms-auto mt-3 mr_22"
            (click)="isDateOpen = !isDateOpen" aria-hidden="true">
        </div>
      </div>
    </div>
  </div>
  <div class="cards_row">
    <div class="row">
      <div *ngIf="!isLoading && orderList?.length <= 0">
        <h3 class="fs_32 my-0">{{'NoOrderAvailable' | translate}}</h3>
      </div>
      <div class=" col-lg-6  col-xxl-4 " *ngFor="let order of orderList;">
        <div class="inner_order_box d-flex justify-content-between">
          <ul class="mb-0 p-0">
            <li>
              <p>{{'OrderId' | translate}}</p>
              <p>: {{order?.id}}</p>
            </li>
            <li>
              <p>{{'CustomerId' | translate}}</p>
              <p>: {{order?.createdBy?.id}}</p>
            </li>
            <li>
              <p>{{'OrderBy' | translate}}</p>
              <p>: {{order?.createdBy?.name}}</p>
            </li>
            <li>
              <p>{{'OrderDate' | translate}}</p>
              <p>: {{order?.createdAt | date:'medium'}}</p>
            </li>
            <li>
              <p>{{'Amount' | translate}}</p>
              <p>: {{order?.amount}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="orderList && orderList?.length > 0" class="paginator">
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
          (paginate)="paginate($event)"></app-paginator>
      </div>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
