.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  transition: 0.5s all ease;
}
.pagination a.active,
.pagination a:hover{
  background-color: #FBAE17;
  color: #fff;
  transition: 0.5s all ease;
}
