<div class="add_price_dashboard">
  <div class="head">
    <div class="d-flex align-items-center">
      <a routerLink="/dash/price" routerLinkActive="active" class="pe-4"><img src="assets/images/backarw-icon.svg"
          alt="icon"></a>
      <h3 class="fs_32 my-0">{{'Prices' | translate}}</h3>
    </div>
  </div>
  <form [formGroup]="priceForm">
    <div class="edit_customers_box pb-2">
      <h4 class="fs_24">{{'AddPrices' | translate}}</h4>
      <div>
        <div class="row fst_col">
          <p class="col-xl-4">
            <label class="fs_18 w-100">{{'CardVender' | translate}}</label>
            <select formControlName="venderId" (ngModelChange)="getCategoryList($event)">
              <option value="" selected>---- {{'PleaseSelectVendor' | translate}} ----</option>
              <option [value]="vender.id" *ngFor="let vender of venderList;">{{vender.name}}</option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'venderId')">
                {{'PleaseSelectVendor' | translate}}</span></span>
          </p>
          <p class="mb-0 col-xl-4">
            <label class="fs_18 w-100">{{'Cardcategory' | translate}}</label>
            <select formControlName="categoryId" (ngModelChange)="getSubCategoryList($event)">
              <option value="" selected>---- {{'PleaseSelectCategory' | translate}} ----</option>
              <option [value]="category.id" *ngFor="let category of categoryList;">{{category.name}}</option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'categoryId')">
                {{'PleaseSelectCategory' | translate}} </span></span>
          </p>
          <p class="mb-0 col-xl-4">
            <label class="fs_18 w-100">{{'CardSubCategory' | translate}}</label>
            <select formControlName="subCategoryId">
              <option value="" selected>---- {{'PleaseSelectSubcategory' | translate}} ----</option>
              <option [value]="subCategory.id" *ngFor="let subCategory of subCategoryList;">{{subCategory.name}}
              </option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'subCategoryId')">
                {{'PleaseSelectSubcategory' | translate}} </span></span>
          </p>
        </div>
        <div class="row fst_col">
          <p class="mb-4 col-xl-4">
            <label class="fs_18 w-100">{{'CustomerName' | translate}}</label>
            <select required formControlName="customerId">
              <option value="" selected>---- {{'PleaseSelectCustomer' | translate}} ----</option>
              <option [value]="customer.id" *ngFor="let customer of customerList;">{{customer.name}}
              </option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'customerId')">
                {{'PleaseSelectCustomer' | translate}} </span></span>
          </p>
          <p class="mb-4 col-xl-4">
            <label class="fs_18 w-100">{{'Amount' | translate}}</label>
            <input type="number" placeholder="{{'PleaseEnterAmount' | translate}} ..." class="fs_14"
              formControlName="amount"> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'amount')">
                {{'PleaseEnterAmount' | translate}}</span></span>
          </p>
          <p class="mb-4 col-xl-4">
            <label class="fs_18 w-100">{{'Currency' | translate}}</label>
            <select disabled>
              <option value="">{{"PleaseSelectCurrency" | translate}}</option>
              <option value="currentUser?.currencyId?.id" selected>{{currentUser?.currencyId?.currency}}</option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="submit_btns">
      <button class="cancel_btn" (click)="reset()">{{'Reset' | translate}}</button>
      <button class="save_btn" (click)="submit()" [disabled]="priceForm.invalid"
        [ngClass]="priceForm.invalid ? 'disable': ''">{{'Save' | translate}}</button>
    </div>
  </form>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
