<div class="direct_chargeorder_dashboard">
  <div class="head">
    <div class="">
      <h3 class="fs_32 my-0">{{'DirectChargeOrders' | translate}}</h3>
    </div>
  </div>
  <div class="cards_row">
    <div class="row">
      <div *ngIf="!isLoading && dcOrderList?.length <= 0">
        <h3 class="fs_32 my-0">{{'NoOrderAvailable' | translate}}</h3>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-4" *ngFor="let order of dcOrderList;">
        <div class="inner_charge_box"
          [ngStyle]="{'background-color': order?.fulfilmentStatus!=='Open' ? '#caababba':''}">
          <div class="d-flex">
            <ul class="p-0">
              <li>
                <p>{{'OrderId' | translate}}</p>
                <p>: {{order?.id}}</p>
              </li>
              <li>
                <p>{{'CustomerId' | translate}}</p>
                <p>: {{order?.createdBy?.id}}</p>
              </li>
              <li>
                <p>{{'OrderBy' | translate}}</p>
                <p>: {{order?.createdBy?.name}}</p>
              </li>
              <li>
                <p>{{'OrderDate' | translate}}</p>
                <p>: {{order?.createdAt | date:'medium'}}</p>
              </li>
              <li>
                <p>{{'Vendor' | translate}}</p>
                <p>: {{ order?.venderId?.name }}</p>
              </li>
              <li>
                <p>{{'Category' | translate}}</p>
                <p>: {{ order?.categoryId?.name }}</p>
              </li>
              <li>
                <p>{{'Amount' | translate}}</p>
                <p>: {{order?.amount}}</p>
              </li>
            </ul>
          </div>
          <div class="last_status d-flex align-items-center justify-content-between"
            [ngStyle]="{'margin-top': order?.fulfilmentStatus ==='Open' ? '-16px':''}">
            <p class="fs_20 mb-0">{{'FulfillmentStatus' | translate}}
              <span class="text_yellow" [ngStyle]="{'color': order?.fulfilmentStatus!=='Open' ? '#37d937ab':''}"
                *ngIf="order?.fulfilmentStatus === 'Complete'"> : {{ 'Complete' | translate}} </span>
              <span class="text_yellow" [ngStyle]="{'color': order?.fulfilmentStatus!=='Open' ? '#37d937ab':''}"
                *ngIf="order?.fulfilmentStatus === 'Open'"> : {{ 'Open' | translate}} </span>
            </p>
            <a class="fs_12" *ngIf="order?.fulfilmentStatus === 'Open'"
              (click)="completeOrder(order?.id)">{{'Complete' | translate}}</a>
          </div>
        </div>
      </div>
      <div *ngIf="dcOrderList && dcOrderList?.length > 0" class="paginator">
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
          (paginate)="paginate($event)"></app-paginator>
      </div>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
