.blockoverflow {
  overflow: hidden;
}

.big-circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #ffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-color: #fbae17 transparent #fbae17 #fbae17;
  animation: bigcircle 1.2s linear infinite;
}


.small-circle {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid #ffff;
  border-radius: 50%;
  border-color: #000 #000000 transparent #000;
}

@keyframes bigcircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  content: '';
  top: 22%;
  right: 27%;
}
