<div class="obk_page">
  <!-- header -->
  <header class="obk_header">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-2">
          <div class="obk_logo text-center">
            <a href="#">
              <img src='assets/images/ryan-logo.png' alt="logo">
            </a>
          </div>
        </div>
        <div class="col-8 d-none d-lg-block">
          <div class="obk_menu">
            <ul class="p-0 m-0 d-flex justify-content-center justify-content-lg-end justify-content-xl-center">
              <li><a routerLink="/home/landing" routerLinkActive="active">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a routerLink="/home/term" routerLinkActive="active">Terms & Condition</a></li>
              <li><a routerLink="/home/privacy" routerLinkActive="active">Privacy Policy</a></li>
              <li><a (click)="contacNav()">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="obk_login_btn text-center">
            <a class="text-white d-none d-lg-inline-block login" (click)="openSignUp()">Login</a>
          </div>
          <div>
            <a class="menu_bar d-inline-block d-lg-none" (click)="isMobile = true">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="mobile_menu" [ngStyle]="{ 'display' : isMobile ? 'block' : 'none' }">
          <a (click)="isMobile = false" class="close_btn"><img src="assets/images/close-icon.svg" alt="icon"></a>
          <ul class="p-0 m-0">
            <li><a routerLink="/home/landing" routerLinkActive="active" (click)="isMobile = false">Home</a></li>
            <li><a href="#" (click)="isMobile = false">About us</a></li>
            <li><a routerLink="/home/term" routerLinkActive="active" (click)="isMobile = false">Terms & Condition</a>
            </li>
            <li><a routerLink="/home/privacy" routerLinkActive="active" (click)="isMobile = false">Privacy Policy</a>
            </li>
            <li><a (click)="contacNav()" (click)="isMobile = false">Contact us</a></li>
          </ul>
          <div class="obk_login_btn">
            <a (click)="openSignUp()" class="text-white login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <!-- footer -->
  <footer class="obk_footer">
    <div class="row g-0">
      <div class="col-12">
        <div class="fut_left text-center h-100">
          <div class="logo">
            <a href="index.html">
              <img src="assets/images/fut-logo.png" alt="logo" class="img-fluid">
            </a>
          </div>
          <div class="fut_menu">
            <ul class="p-0 m-0 d-flex justify-content-center">
              <li><a href="#">About us</a></li>
              <li><a routerLink="/home/term" routerLinkActive="active">Terms & Condition</a></li>
              <li><a routerLink="/home/privacy" routerLinkActive="active">Privacy Policy</a></li>
              <li><a (click)="contacNav()" class="after_none" id="ContactUs">Contact us</a></li>
            </ul>
          </div>
          <div class="fut_social_icon">
            <h5>Follow Us</h5>
            <ul class="p-0 m-0 d-flex justify-content-center">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="m-0"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="fs_14 text-center">All Rights Reserved. </p>
    </div>
  </footer>

  <!-- sign in page -->
  <div class="ryancard_signin_page" [ngStyle]="{ 'display' : isSignUp ? 'block' : 'none' }">
    <div class="close_icon">
      <a (click)="closeSignUp()"><img src="assets/images/close-icon.svg" alt="icon"></a>
    </div>
    <div class="signin_form">
      <div class="logo text-center">
        <img src="assets/images/fut-logo.png" alt="logo">
      </div>
      <form [formGroup]="loginForm">
        <h3 class="fs_25">Sign in</h3>
        <div class="head_box">
          <div class="select_company d-flex justify-content-center">
            <label>
              <input type="radio" checked="checked" name="radio" class="custom_btn" #radioObk>
              <span class="fs_18">OBK Card</span>
            </label>
            <label>
              <input type="radio" name="radio" class="custom_btn" #radioTelecom>
              <span class="fs_18">Almukhtar Telecom</span>
            </label>
          </div>
        </div>
        <div class="position-relative">
          <i><img src="assets/images/email-icon.svg" alt="icon"></i>
          <input type="email" placeholder="Email" class="name" formControlName="username">
        </div>
        <div class="position-relative">
          <i><img src="assets/images/pass-icon.svg" alt="icon"></i>
          <input type="password" placeholder="Password" class="name" formControlName="password">
        </div>
        <div class="text-center position-relative">
          <button class="signin_login_btn" (click)="submit()" [disabled]="loginForm.invalid"><span>Login</span>
          </button>
          <div *ngIf="isLoading">
            <div class="loader">
              <div class="big-circle">
                <div class="small-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="bg_cover" [ngStyle]="{ 'display' : isSignUp ? 'block' : 'none' }"></div>
</div>
