.add_customers_dashboard{
    .dashboard_screen{
        .edit_customers_box{
            p{
                label{
                    @media(max-width:1440px){
                        width:100%;
                    }
                }
            }
        }
    }
}


//html rtl scss
html[dir="rtl"]{
    .add_customers_dashboard{
        .head{
            a{
                transform: rotate(180deg);
            }
        }
        .edit_customers_box{
            .fst_col{
                &:nth-of-type(1){
                    order:3;
                }
                &:nth-of-type(2){
                    order:2;
                }
                &:nth-of-type(3){
                    order:1;
                }
                .click_eye{
                    left: 46px;
                    right:unset;
                    @media(max-width:1440px){
                        left:32%;
                    }
                    @media(max-width:1200px){
                        left:40px;
                    }
                }
            }
        }
    }
}
