//card dashboard
.dashboard_screen {
  .head {
    .search {
      @media(max-width:576px) {
        margin-right: 8px !important;
      }

      .search_field {
        background-color: transparent;
        background-image: url(../images/search-icon.svg);
        background-position: 5px center;
        background-repeat: no-repeat;
        border: none;
        width: 60px;
        height: 50px;
        padding: 0 0 0 50px;
        -webkit-transition: width 400ms ease, background 400ms ease;
        transition: width 400ms ease, background 400ms ease;
        cursor: pointer;

        &[type="search"]::-webkit-search-cancel-button {
          padding-right: 10px;
        }
      }

      .search_field:focus {
        background-color: $white;
        border: 1px solid $dark-blue;
        border-radius: 5px;
        cursor: text;
        outline: 0;
        width: 400px;
        color: $gray;

        @media(max-width:1200px) {
          width: 270px;
        }
        @media(max-width:576px) {
          width: 100%;
        }
      }
    }
  }

  .cards_row {
    .inner_card {
      padding: 0 25px;
      padding-top: 30px;
      padding-bottom: 10px;
      background-color: $white;
      border-radius: 10px;
      width: 100%;
      display: inline-block;
      cursor: pointer;

      @media(max-width:1400px) {
        margin-bottom: 25px;
      }

      ul {
        @media(max-width:1200px) {
          padding-left: 0;
        }

        li {
          color: $black;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 31px;
          span{
            min-width: 120px;
    display: inline-block;
          }
        }

        &:last-of-type {
          li {
            font-weight: 400;
            word-break: break-all;
          }
        }
      }

      .li_ans {
        padding-left: 50px;

        @media(max-width:1200px) {
          padding-left: 0;
        }

        li {
          color: rgba(15, 16, 18, 0.7);
        }
      }

      .available {
        color: $yellow;
      }

      .used {
        color: $red;
      }
    }
  }
}

//html rtl scss
html[dir="rtl"] {
  .card_dashboard {
    .head {
      .search {
        order: 1;

        .search_field {
          padding-left: 10px;
          padding-right: 50px;
          background-position: right center;
        }

        .search_field:focus {
          @media(max-width:1200px) {
            width: 330px;
          }

          @media(max-width:576px) {
            width: 165px;
          }
        }
      }
    }
  }
}
