*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins';
    font-weight: normal;
    background-color:$gray-100;
    font-size: 16px;
}
.container{
    max-width: 1500px;
    @media(max-width:1440px){
        max-width:1320px;
    }
    @media(max-width:1200px){
        max-width:960px;
    }
    @media(max-width:992px){
        max-width:960px;
    }
    @media(max-width:768px){
        max-width:720px;
    }
    @media(max-width:576px){
        max-width:100%;
    }
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.w-20{
    width: 22%;
    @media(max-width:1200px){
        width: 20%;
    }
    @media(max-width:768px){
        width: 100%;
    }
}
.w-40{
    width: 39%;
    @media(max-width:1200px){
        width: 36%;
    }
    @media(max-width:768px){
        width: 100%;
    }
}
.fs_14{
    font-size:0.875rem;
}
.fs_18{
    font-size:1.125rem;
}
.fs_20{
    font-size:1.25rem;
}
.fs_24{
    font-size:1.5rem;
}
.fs_25{
    font-size:1.5625rem;
}
.fs_32{
    font-size:2rem;
    @media(max-width:768px){
        font-size: 1.5rem;
    }
}
.fs_36{
    font-size:2.25rem;
}
.fs_40{
    font-size: 2.5rem; //40px
    @media(max-width:1200px){
        font-size:1.875rem; //30px
    }
    @media(max-width:768px){
        font-size:1.5625rem;; //25px
    }
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.ms-100{
    margin-left: 100px;
}
h1{
    font-size: 3.75rem; //60px
}
h2{
    font-size: 2.5rem; //40px
    font-weight: 500;
    color: $black;
    @media(max-width:1200px){
        font-size:1.875rem; //30px
    }
    @media(max-width:768px){
        font-size:1.5625rem;; //25px
    }
}
h3{
    font-weight: 500;
    margin-top: 40px;
    @media(max-width:768px){
        font-size:1.5625rem;; //25px
    }
    @media(max-width:576px){
        font-size:1.5625rem;; //25px
    }
}
h4{
    font-size: 1.125rem; //18px
    font-weight: 500;
    font-style: bold;
}
.text_yellow{
    color: $yellow;
}

