.ryan_dashboard {
  .dashboard_sidebar {
    width: 350px;
    height: 100vh;
    background-color: $white;
    position: fixed;
    z-index: 9;
    // overflow: auto;
    transition: all 0.6s;

    @media(max-width:1200px) {
      width: 300px;
    }

    @media(max-width:768px) {
      left: -100%;
    }

    .logo {
      padding-top: 20px;
      padding-bottom: 50px;
    }

    .dash_menu {
      padding-right: 15px;
      overflow: auto;

      //sidebar-scroll
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f2f2f2;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $yellow;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $yellow;
      }

      .main_row {
        li {
          width: 100%;
          margin: 5px 0;

          a {
            position: relative;
            padding: 24px 0;
            display: flex;
            width: 100%;

            &:hover {
              background-color: $gray-100;
              border-radius: 0px 35px 35px 0px;
            }

            &:hover:after {
              opacity: 1;
              visibility: visible;
            }

            &:after {
              content: '';
              position: absolute;
              top: 9px;
              left: 5px;
              width: 3px;
              height: 55px;
              background-color: $black;
              transition: all 0.6s;
              opacity: 0;
              visibility: hidden;
            }

            img {
              padding-left: 26px;
              margin-right: 30px;
            }

            h5 {
              font-size: $font-size-base;
              color: $black;
              font-weight: 600;
              margin-bottom: 0;
            }

            &:hover {
              text-decoration: none;
            }
          }

          a.active {
            background-color: $gray-100;
            border-radius: 0px 35px 35px 0px;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              top: 9px;
              left: 5px;
              width: 3px;
              height: 55px;
              background-color: $black;
              transition: all 0.6s;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    .log_out {
      text-align: center;
      background-color: $black;
      padding: 23px 0;
      position: absolute;
      bottom: 0;
      width: 100%;

      img {
        margin-right: 20px;
      }
    }
  }

  .dashboard_screen {
    width: calc(100% - 350px);
    background-color: $gray-100;
    padding: 35px 50px;
    height: 100vh;

    @media(max-width:1200px) {
      width: calc(100% - 300px);
    }

    @media(max-width:768px) {
      width: 100%;
      padding: 30px 25px;
    }

    .dashbar_top {
      position: relative;

      .dash_menu_icon {
        a {
          color: $black;
          font-size: $font-size-base;
        }
      }

      .icon {
        position: relative;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 68px;
          background-color: rgba(0, 0, 0, 0.2);
          right: 0;
          top: -20px;
        }

        .choose_language {
          // position: absolute;
          // width: 190px;
          // right: 10px;
          // top: 25px;
          // z-index: 1;
          // display: none;

          h5 {
            font-size: $font-size-base;
            width: 100%;
          }

          ul {
            background-color: $white;
            padding: 12px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            li {
              &:first-of-type {
                margin-bottom: 10px;
              }

              a {
                color: $black;

                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }
      }

      .profile {
        cursor: pointer;

        &:hover a,
        &:active a {
          background-color: rgba(112, 112, 112, 0.1);
          border-radius: 10px;
        }

        a {
          color: $black;
          padding: 10px 12px;
          font-weight: 600;
        }
      }
    }

    .head {
      padding-top: 50px;
      padding-bottom: 60px;

      @media(max-width:768px) {
        padding: 40px 0;
      }

      h3 {
        font-weight: 700;
      }

      .add_btn {
        padding: 12px 24px;
        background-color: $yellow;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color: $black;
        font-weight: 500;

        @media(max-width:768px) {
          padding: 10px 12px;
        }
      }
    }

    .customers_row {
      .inner_box {
        padding: 36px 30px;
        background-color: $white;
        border-radius: 10px;
        position: relative;

        @media(max-width:1440px) {
          padding: 36px 20px;
        }

        @media(max-width:1200px) {
          margin-bottom: 25px;
          padding: 36px 20px;
        }

        @media(max-width:576px) {
          padding: 15px 20px;
          padding: 36px 20px;
        }

        &:hover .edit_icons {
          opacity: 1;
        }

        &:hover span,
        &:hover p {
          opacity: 0.2;
        }

        span {
          font-weight: 600;
          transition: all 0.6s;
        }

        p {
          transition: all 0.6s;

          a {
            color: $black;
          }
        }

        .edit_icons {
          position: absolute;
          top: 10px;
          right: 10px;
          opacity: 0;
          transition: all 0.6s;
          cursor: pointer;
          img {
            margin-bottom: 10px;
          }
        }
      }

      .inner_box_last {
        margin-top: 32px;
        position: relative;

        @media(max-width:1200px) {
          margin-top: 0;
        }
      }
    }
  }
}

//html rtl scss
html[dir="rtl"] {
  .ryan_dashboard {
    .dashboard_sidebar {
      @media(max-width:768px) {
        right: -100%;
        left: unset;
      }

      .dash_menu {
        padding-left: 15px;
        padding-right: 0;

        ul {
          li {
            a {
              &:hover {
                border-radius: 35px 0 0 35px;
              }

              &:after {
                right: 5px;
                left: unset;
              }
            }

            a.active {
              border-radius: 35px 0 0 35px;

              &:after {
                right: 5px;
                left: unset;
              }
            }
          }
        }
      }

      .log_out {
        img {
          margin-right: 0;
          margin-left: 20px;
        }
      }
    }

    .ms-auto {
      margin-right: auto !important;
      margin-left: unset !important;
    }

    .icon {
      .choose_language {
        @media(max-width:768px) {
          left: 0 !important;
          right: unset !important;
        }
      }
    }

    .dashbar_top {
      .ms-auto {
        margin-left: unset !important;
        margin-right: unset !important;
      }

      .icon {
        @media(max-width:768px) {
          margin-right: auto !important;
        }

        img {
          padding-left: 1.5rem !important;
          padding-right: 0 !important;
        }

        &:after {
          left: 0;
          right: unset;
        }

        .choose_language {
          right: -35px;
          top: 28px;
        }
      }

      .profile {
        padding-left: 0 !important;
      }
    }

    .customers_row {
      .inner_box {
        text-align: right;

        .edit_icons {
          left: 10px;
          right: unset;
        }
      }
    }
  }
}
