//delete card dashboard
.dashboard_screen{
    position: relative;
    .overlay_bg{
        position: fixed;
        z-index:1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .popup_box{
        padding: 35px 0 ;
        width: 520px;
        background-color: $white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%) ;
        z-index: 2;
        @media(max-width:576px){
            width:300px;
        }
        img{
            position: absolute;
            top:8px;
            right:10px;
            cursor: pointer;
        }
        h1{
            font-weight:700;
            text-align: center;
            margin-bottom:20px;
        }
        p{
            line-height: 27px;
            padding: 0 90px;
            margin-bottom:36px;
        }
        .submit_btns{
            margin-top:40px;
            button{
                padding: 10px;
                border-radius: 10px;
                border: 0;
                width: 155px;
            }
            .cancel_btn{
                border:1px solid $black;
                color:$black;
                background-color: transparent;
                margin-right: 30px;
                @media(max-width:576px){
                    margin-right: 0;
                }
            }
            .save_btn{
                color:$white;
                background-color:$black;
            }
        }
    }
}

//html rtl scss
html[dir="rtl"]{
   .popup_box{
       img{
           left:10px;
           right:unset;
       }
   }
}