.direct_chargeorder_dashboard {
  .cards_row {
    .inner_charge_box {
      background-color: $white;
      border-radius: 10px;
      padding: 0 30px;
      padding-top: 50px;
      padding-bottom: 25px;

      @media(max-width:1440px) {
        padding: 0px 19px;
        padding-top: 50px;
        padding-bottom: 25px;
      }

      @media(max-width:1200px) {
        margin-bottom: 25px;
      }

      @media(max-width:576px) {
        padding: 0 20px;
        padding-top: 25px;
        padding-bottom: 25px;
      }

      ul {
        margin-bottom: 35px;

        li {
          font-size: 1.25rem; //20px
          color: $black;
          word-break: break-all;
          line-height: 30px;
          display: flex;
          p{
            min-width: 120px;
            &:nth-of-type(1){
              font-weight: 500;
            }
            &:nth-of-type(2){
              font-weight: 400;
            }
          }

          @media(max-width:576px) {
            font-size: 1rem;
          }
        }

        &:last-of-type {
          padding-left: 60px;

          li {
            color: rgba(15, 16, 18, 0.7);
            font-weight: 400;
          }
        }
      }

      .last_status {
        a {
          padding: 8px 15px;
          display: inline-block;
          background-color: $yellow;
          color: $black;
          box-shadow: 0px 2.2px 8.5px rgba(0, 0, 0, 0.1);
          border-radius: 5.3px;
        }
      }
    }
  }
}


//html rtl scss
// .direct_chargeorder_dashboard{
//     .dashboard_screen{
//         .inner_charge_box{
//         }
//     }
// }
