//edit card dashboard
.edit_card_dashboard{
    .dashboard_screen{
        .edit_customers_box{
            padding-bottom: 40px;
            .fst_col{
                p{
                    @media(max-width:1200px){
                        margin-top:25px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }  
}



//add card dashboard
.add_card_dashboard{
    .edit_customers_box{
        padding-bottom: 40px;
        .fst_col{
            p{
                @media(max-width:1200px){
                    margin-top:25px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

	
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

//html rtl scss
// edit_card_dashboard
html[dir="rtl"]{
    .edit_card_dashboard{
        .head{
            a{
                transform: rotate(180deg);
            }
        }
    }
}


//html rtl scss
// add_card_dashboard
html[dir="rtl"]{
    .add_card_dashboard{
        .head{
            a{
                transform: rotate(180deg);
            }
        }
    }
}