//edit_customers_dashboard

.edit_customers_box{
    background-color: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
    padding-bottom:70px;
    @media(max-width:576px){
        padding:15px;
    }
    h4{
        font-weight:700;
        margin-bottom:20px;
        color: $dark-blue;
    }
    p{
        margin-bottom:30px;
        position: relative;
        .drop_arw{
            top: 60px;
        }
        select{
            width:100%;
            background: url(../images/arrow_drop_down_black.svg) no-repeat;
            -webkit-appearance: none;
            background-position: right center;
            border-radius: 5px;
            padding:15px 20px;
            @media(max-width:1441px){
                width:250px;
            }
            @media(max-width:1200px){
                width:100%;
            }
        }
    }
    .bal_box{
        // label {
        //     width:292px;
        //     @media(max-width:1440px){
        //         width:100px
        //     }
        //     @media(max-width:1200px){
        //         width:430px;
        //     }
        //     @media(max-width:576px){
        //         width:230px;
        //     }
        //     @media(max-width:400px){
        //       width:186px;
        //   }
        // }
        a{
            padding:6px 20px;
            background-color:$yellow;
            color:$black;
            box-shadow: 0px 2.11686px 8.46745px rgba(0, 0, 0, 0.1);
            border-radius: 5.3px;
            font-size:9.5px;
            font-weight: 500;
            @media(max-width:1440px){
                padding: 6px 8px;
            }
        }
        span{
          &:nth-of-type(1){
            width: 70%;
          }
          &:nth-of-type(2){
            width: 30%;
          }
        }
    }
    label{
        font-weight: 500;
        margin-bottom: 18px;
        color: $dark-blue;
    }
    input{
        width: 100%;
        background-color: transparent;
        border: 1px solid $dark-blue;
        border-radius: 5px;
        padding: 15px 20px;
        &::placeholder {
            color: $dark-blue;
        }
        @media(max-width:1441px){
            width:100%;
        }
        @media(max-width:1200px){
            width:100%;
        }
    }
    .click_eye{
        position: absolute;
        right:14px;
        bottom: 14px;
    }
    .show_pass{
        i{
            display: block;
            color:$dark-blue;
        }
        img{
            display: none;
        }
    }
}
.submit_btns{
    margin-top:40px;
    button{
        padding: 10px;
        border-radius: 10px;
        border: 0;
        width: 155px;
        @media(max-width:576px){
            width: 120px;
        }
    }
    .cancel_btn{
        border:1px solid $black;
        color:$black;
        background-color: transparent;
        margin-right: 30px;
        @media(max-width:576px){
            margin-right: 12px;
        }
    }
    .save_btn{
        color:$white;
        background-color:$black;
    }
}


//html rtl scss
html[dir="rtl"]{
    .ryan_dashboard{
        .edit_customers_box{
            .fst_col{
                p{
                    select{
                        background-position: left center;
                    }
                }
                &:nth-of-type(1){
                    order:3;
                }
                &:nth-of-type(2){
                    order:2;
                }
                &:nth-of-type(3){
                    order:1;
                }
                .click_eye{
                    left: 46px;
                    right:unset;
                    @media(max-width:1440px){
                        left:32%;
                    }
                    @media(max-width:1200px){
                        left:40px;
                    }
                    @media(max-width:768px){
                        left:20px;
                    }
                }
            }
            .bal_box{
                .me-4{
                    margin-right: 0!important;
                    margin-left:1.5rem!important;
                }
            }
        }
    }
    .edit_customers_dashboard{
        .head{
            a{
                transform: rotate(180deg);
            }
        }
    }
}
