// footer
.obk_footer{
    .fut_left{
        background-color: rgba(112, 112, 112, 0.15);
        padding: 81px 0;
        .fut_menu{
            padding-top: 50px;
            padding-bottom: 70px;
            @media(max-width:576px){
                padding: 25px 0;
            }
            ul{
                @media(max-width:576px){
                    display: block!important;
                }
                li{
                    a{
                        position: relative;
                        color: $gray;
                        padding: 0 35px;
                        display: inline-block;
                        @media(max-width:1200px){
                            padding: 0 12px;
                        }
                        @media(max-width:576px){
                            padding: 12px 0;
                        }
                        &:after{
                            content: '|';
                            position: absolute;
                            right: 0;
                            top: 0;
                            @media(max-width:576px){
                                content: '';
                            }
                        }
                    }
                    .after_none{
                        &:after{
                            content: '';
                        }
                    }
                }
            }
        }
        .fut_social_icon{
            h5{
                color:$black;
                font-size: $font-size-base;
            }
            ul{
    
                li{
                    margin-top: 20px;
                    a{
                        width: 48px;
                        height: 48px;
                        border: 2px solid $gray;
                        display: inline-block;
                        border-radius: 10px;
                        margin-right: 20px;
                        @media(max-width:1200px){
                            width: 40px;
                            height: 40px;
                        }
                        i{
                            line-height: 44px;
                            color: $gray;
                            font-size: 24px;
                            @media(max-width:1200px){
                                line-height: 40px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    
    }
    .map_cover_img{
        position: relative;
        .map_icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .footer_bottom{
        height: 40px;
        background-color: rgba(29, 29, 29, 0.2);
        p{
        line-height: 40px;
        color: $gray;
        }
    }
}