
// header
.obk_header{
  background-color: $gray-100;
  .obk_logo{
      padding: 10px 0;
  }
  .obk_menu{
      ul{
          li{
              padding: 0 20px;
              @media(max-width:1200px){
                  padding: 0 5px;
              }
              a{
                  padding: 22px 10px;
                  color: $black;
                  @media(max-width:1200px){
                      padding:22px 7px;
                  }
              }
              a.active{
                  color:$yellow;
                  border-top: 2px solid $yellow;
                  border-bottom: 2px solid $yellow;
              }
          }
      }
  }
  .obk_login_btn{
      button{
          background-color: $yellow;
          padding: 10px 30px;
          border-radius: 5px;
          border: 0;
      }
  }
}
.menu_bar{
  color:$black;
}
.mobile_menu{
  background-color: $white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.06);
  padding: 30px;
  position: absolute;
  width: auto;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
  .close_btn{
      position: absolute;
      top: 20px;
      right: 20px;
  }
  ul{
      li{
          a{
              color: $black;
              padding: 10px 0;
              display: inline-block;
              &:hover{
                  color: $yellow;
              }
          }
      }
  }
  .obk_login_btn{
      margin-top:15px;
      button{
          background-color: $yellow;
          padding: 10px 30px;
          border-radius: 5px;
          border: 0;
      }
  }
}
