//slider section
.obk_slider{
  .slider{
      padding: 100px 0;
      background-image: url(./../images/bg-slide.png);
      background-position:top right;
      background-repeat: no-repeat;
      @media(max-width:1440px){
          background-position: 115% 0%;
      }
      @media(max-width:1200px){
          background-position: 155% -145%;
      }
      @media(max-width:768px){
          padding: 80px 0;
          background-image:none;
      }
      .left_dtl{
          h2{
              color: $black;
              padding: 15px 0;
          }
          p{
              color: $gray;
              margin-bottom:20px;
              line-height: 31px
          }
          a{
              @extend .obk_btn;
          }
      }
      .right_dtl{
          @media(max-width:576px){
              width: 295px;
              margin: 0 auto;
          }
      }
      .scroll_icon{
          margin-bottom: 30px;
          @media(max-width:768px){
              display: none;
          }
          p{
              color: $gray;
          }
      }
      .circle{
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1;
          @media(max-width:768px){
              display: none;
          }
      }
  }
  .slider2{
      background-image: url(./../images/bg-slide-green.png);
      @media(max-width:768px){
          background-image: none;
      }
      .logo{
          width: 113px;
      }
  }
  .slick-next, .slick-prev{
      font-size:1rem;
      z-index: 11;
      color:$gray;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      top: 70% !important;
      left: 15.3% !important;
      line-height: 46px;
      border: 2px solid $gray;
      background-color: none;
      opacity:0.5;
      @media(max-width:1440px){
          left: 10.5% !important;
      }
      @media(max-width:1200px){
          left: 10.3% !important;
          top: 78% !important;
      }
      @media(max-width:768px){
          left: 14.3% !important;
          top: 96% !important;
      }
      @media(max-width:576px){
          left: 52% !important;
      }
      &:before{
          content: '';
          color: $gray;
      }
      i{
          font-size: medium;
      }
  }
  .slick-prev{
      left: 11.3% !important;
      @media(max-width:1440px){
          left: 5.3% !important;
      }
      @media(max-width:1200px){
          left: 4.3% !important;
      }
      @media(max-width:768px){
          left: 5.3% !important;
      }
      @media(max-width:576px){
          left: 36% !important;
      }
  }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
      color: $gray;
  }
}

//about rating section
.about_rating_section{
  background: rgba(241, 241, 241, 0.5);
  padding-top: 40px;
  @media(max-width:576px){
      padding:25px 15px;
  }
  .inner_box{
      padding: 30px 0;
      background: $white;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.06);
      border-radius: 20px;
      margin-bottom: -30px;
      @media(max-width:576px){
          margin-bottom: 30px;
      }
      .rate{
          span{
              padding-left: 10px;
              font-weight: 500;
          }
      }
      p{
          color: rgba(112, 112, 112, 0.5);
          font-weight: 500;
          margin-top: 6px;
      }
  }
}

//obk_card_app_section
.obk_card_app_section{
  margin-top: 130px;
  position: relative;
  @media(max-width:768px){
      margin-top: 100px;
      padding-bottom:40px !important;
  }
  .head_box{
      position: absolute;
      right: 20%;
      top: 6%;
      @media(max-width:1440px){
          right:17%;
      }
      @media(max-width:1200px){
          right:7%;
      }
      @media(max-width:768px){
          right:0;
          top: 0;
      }
      @media(max-width:576px){
          top: -10%;
          right: 50%;
          transform: translateX(50%);
      }
      .select_app{
          margin-bottom: 30px;
          border: 2px solid $gray-100;
          width: 350px;
          height: 73px;
          border-radius: 10px;
          @media(max-width:576px){
              margin:0 auto;
              width: 310px;
          }
          .app_btn{
              span{
                  padding: 12px 30px;
                  width: 100%;
                  text-align: center;
                  transition: 0.5s;
                  border-bottom: 2px solid rgba(0,0,0,0);
                  line-height: 65px;
                  margin: 0 10px;
                  border-radius: 10px;
                  @media(max-width:576px){
                      padding: 12px 20px;
                  }
              }
          }
          .app_btn.active{
              span{
                  background-color: $yellow;
                  color: $white;
              }
          }
      }
  }
  .right_dtl{
      @media(max-width:576px){
          margin-top:15px;
      }
      .details{
          h2{
              margin: 10px 0;
          }
          p{
              margin-bottom: 30px;
          }
          .store_dtl{
              img{
                  margin-right: 24px;
              }
          }
      }
  }
  .bg_square{
      position: absolute;
      left: 0;
      top: 30px;
      z-index: -1;
      @media(max-width:768px){
          display: none;
      }
  }
  .userapp{
      display:none;
      .left_img{
          img{
              width: 280px;
              height: 600px;
              filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
              border-radius: 20px;
              object-fit: contain;
              @media(max-width:1200px){
                  width: 200px;
                  height: auto;
              }
              @media(max-width:768px){
                 width:300px;
              }
              @media(max-width:576px){
                  width:190px;
               }
              &:last-of-type{
                  margin-top: 150px;
                  @media(max-width:576px){
                      margin-top: 80px;
                  }
              }
          }
      }
  }
}

//telecom_app_section
.telecom_app_section{
  margin-top: 0;
  padding-top: 100px;
  overflow: hidden;
  @media(max-width:576px){
      padding-top:150px;
  }
  .head_box{
      position: absolute;
      left: 3%;
      top: 7%;
      @media(max-width:768px){
          left:auto;
          top: 0;
      }
      @media(max-width:576px){
          top:-10%;
      }
      .select_app{
          margin-bottom: 30px;
          border: 2px solid $gray-100;
          width: 350px;
          height: 73px;
          border-radius: 10px;
          @media(max-width:576px){
              margin:0 auto;
              width: 310px;
          }
          .app_btn{
              span{
                  padding: 12px 30px;
                  width: 100%;
                  text-align: center;
                  transition: 0.5s;
                  border-bottom: 2px solid rgba(0,0,0,0);
                  line-height: 65px;
                  margin: 0 10px;
                  border-radius: 10px;
                  @media(max-width:576px){
                      padding: 12px 20px;
                  }
              }
          }
          .app_btn.active{
              span{
                  background-color: $yellow;
                  color: $white;
              }
          }
      }
  }
  .userapp{
      display: block;
  }
  .adminapp{
      display: none;
  }
  .admin{
      padding-right: 53px;
      a{
          margin-left:10px!important;
          margin-right: 53px!important;
      }
  }
  .bg_square2{
      top: 125px;
      right: -30px;
      left: auto;
      @media(max-width:768px){
          display: none;
      }
  }
  .right_dtl{
      .details{
          .img{
              width: 90px;
              object-fit: cover;
          }
      }
  }
}

//obk_card_feachers_section
.obk_card_feachers_section{
  position: relative;
  margin-bottom: 100px;
  margin-left: 170px;
  @media(max-width:1200px){
      margin-left: 150px;
  }
  @media(max-width:768px){
      margin-left: 0;
  }
  .inner_fechers_box{
      padding: 67px 50px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.06);
      border-radius: 20px;
      padding-left: 0;
      width: 1316px;
      margin: 0 auto;
      @media(max-width:1440px){
          width: auto;
      }
      @media(max-width:1200px){
          padding: 30px 25px;
      }
      .logo_box{
          padding: 80px 42px;
          background-color: $orange;
          border-radius: 20px;
          margin-left: -130px;
          @media(max-width:768px){
              margin-left: 0px;
          }
          h3{
              color: $white;
              margin-top: 15px;
              span{
                  color: $black;
              }
          }
      }
      .main_col{
          .feach_box{
              padding: 20px;
              border-radius: 15px;
              margin-bottom: 25px;
              transition: all 0.6s;
              background-color: rgba(112, 112, 112, 0.03);
              @media(max-width:768px){
                  margin-top: 25px;
                  margin-bottom: 0;
              }
              p{
                  color: $gray;
                  line-height: 31px;
                  margin-bottom: 0;
              }
          }
      }
  }
}

//telecom_card_feachers_section
.telecom_card_feachers_section{
  margin-left: 0;
  margin-right: 100px;
  @media(max-width:768px){
      margin-right: 0;
  }
  .inner_fechers_box{
      padding-left: 50px;
      padding-right: 0;
      @media(max-width:768px){
          padding: 30px 25px;
      }
      .logo_box{
          padding: 80px 38px;
          background-color: $green;
          margin-left: 0;
          margin-right: -130px;
          @media(max-width:1440px){
              margin-right: -80px;
          }
          @media(max-width:1200px){
              margin-right: -130px;
          }
          @media(max-width:768px){
              margin-right: 0;
          }
          img{
              width: 113px;
              object-fit: cover;
          }
      }
  }
}

// contact section
.contact_section{
  margin-bottom: 160px;
  @media(max-width:768px){
      margin-bottom: 60px;
  }
  h2{
      padding-bottom: 140px;
      @media(max-width:768px){
          padding-bottom: 30px;
      }
  }
  .inner_box{
      padding: 78px;
      padding-left: 140px;
      border-radius: 15px;
      background-color: $gray-100;
      position: relative;
      @media(max-width:1200px){
          padding: 60px;
      }
      @media(max-width:768px){
          padding:5px;
      }
      .left_dtl{
          width: 30%;
          @media(max-width:1200px){
              width: 35%;
          }
          @media(max-width:768px){
              width: 100%;
          }
      }
      span{
          width: 48px;
          height: 48px;
          line-height: 48px;
          display: inline-block;
          border:2px solid rgba(112, 112, 112, 1);
          border-radius: 10px;
          margin: 40px 0;
          margin-right: 15px;
          @media(max-width:768px){
              margin: 10px 0;
              margin-right: 15px;
              width: 35px;
              height: 35px;
              line-height: 35px;
              border:1px solid rgba(112, 112, 112, 1);
          }
          i{
              width: 48px;
              height: 48px;
              font-size: 22px;
              color:$gray;
              @media(max-width:768px){
                  width: 35px;
                  height: 35px;
                  font-size:$font-size-base;
              }
          }
      }
      a{
          color:$gray;
          font-weight: 400;
      }
  }
  .right_dtl{
      @media(max-width:768px){
          width: 100%;
          margin-top: 30px;
      }
      .contact_box{
          width: 645px;
          position: absolute;
          padding: 60px;
          top: -60px;
          right: 5%;
          background-color: $white;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
          border-radius: 15px;
          @media(max-width:1200px){
              width: 500px;
              padding: 50px;
          }
          @media(max-width:768px){
              width: 100%;
              position: unset;
          }
          @media(max-width:576px){
              padding: 25px;
          }
          form{
              div{
                  position: relative;
                  i{
                      color: rgba(15, 16, 18, 0.5);
                      position: absolute;
                      left: 30px;
                      top: 22px;
                      @media(max-width:576px){
                          left: 15px;
                          width:20px;
                          height: 20px;
                      }
                      img{
                          width: 100%;
                          height: 100%;
                      }
                  }
                  input{
                      width: 100%;
                      background-color: rgba(241, 241, 241, 0.4);
                      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
                      border-radius: 10px;
                      border: 0;
                      font-weight: 500;
                      margin-bottom: 30px;
                      @media(max-width:576px){
                          font-size:$font-size-base;
                      }
                  }
                  .name{
                      padding: 22px 0;
                      padding-left:70px;
                  }
                  button{
                      @extend .obk_btn;
                      padding: 20px 0;
                      border: 0;
                      width: 100%;
                      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
                      border-radius: 10px;
                  }
              }
          }
      }
  }
}
