.orders_dashboard {
  .dashboard_screen .head .flex-wrap h3{
    margin-bottom: 15px;
  }
  .dashboard_screen .head .search .search_field:focus {
    width: 270px !important;

    @media(max-width:576px) {
      width: 100% !important;
    }
  }

  .cards_row {
    .inner_order_box {
      padding: 28px 23px;
      background-color: $white;
      border-radius: 10px;
      margin-bottom: 50px;

      ul {
        li {
          font-size: 18px !important; //18px
          line-height: 31px;
          color: $black;
          word-break: break-all;
          display: flex;
          p{
            display: inline-block;
            font-weight: 500;
            &:nth-of-type(1){
              min-width: 120px;
              @media(max-width:1200px){
                min-width: 100px;
              }
            }
            &:nth-of-type(2){
              font-weight: 400;
            }
          }

          @media(max-width:576px) {
            font-size: 1rem;
          }
        }

        &:last-of-type {
          li {
            font-weight: 400;
          }
        }
      }
    }
  }

  // datetype calender
  .w-200{
    width: 212px;
  }

  #datepicker {
    margin: 0 20px 20px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  #datepicker>img:hover {
    cursor: pointer;
  }

  .date_input {
    border: 1px solid $dark-blue;
    border-radius: 5px !important;
    cursor: text !important;
    width: 180px;

    @media(max-width:576px) {
      width: 86px;
      font-size: 12px;
    }

    &:focus {
      border-color: $yellow;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgba(251, 174, 23, 0.6);
    }
  }

  .input-group .form-control {
    width: 180px;

    @media(max-width:576px) {
      width: 65px;
      font-size: 12px;
      padding: 6px;
    }
  }

  .input-group-addon {
    background: transparent;
    border: 0;
    padding: 0;
  }

  .input-group-addon,
  .input-group-btn {
    width: auto;
  }

  .datepicker table tr td.active,
  .datepicker table tr td.active:hover,
  .datepicker table tr td.active.disabled,
  .datepicker table tr td.active.disabled:hover {
    background-color: $yellow;
  }
}

//html rtl scss
html[dir="rtl"] {
  .orders_dashboard {
    .head {
      .dropdown {
        order: 1;
      }

      .input-group .form-control {
        margin-left: 1rem !important;
        padding-right: 85px;

        @media(max-width:576px) {
          padding-right: 10px;
        }
      }
    }

    .search_field {
      padding-left: 10px;
      padding-right: 50px;
      background-position: right center;
    }
  }
}
