.price_dashboard {
  .cards_row {
    .inner_charge_box {
      padding: 36px 23px;
      background-color: $white;
      border-radius: 10px;

      @media(max-width:1200px) {
        margin-bottom: 25px;
      }

      ul {
        li {
          font-size: $font-size-base;
          line-height: 31px;
          color: $black;
          word-break: break-all;
          display: flex;
          p{
            min-width: 120px;
            &:nth-of-type(1){
              font-weight: 500;
            }
            &:nth-of-type(2){
              font-weight: 400;
            }
          }
        }

        &:last-of-type {
          li {
            font-weight: 400;
          }
        }
      }
    }
  }
}

//add price dashboard
.add_price_dashboard {
  .dashboard_screen {
    .edit_customers_box {
      p {
        margin-bottom: 30px;
      }
    }
  }
}


//html rtl scss
html[dir="rtl"] {
  .add_price_dashboard {
    .head {
      a {
        transform: rotate(180deg);
      }
    }
  }
}
