.obk_services_section{
  @media(max-width:576px){
      text-align: center;
  }
  .inner_content{
      margin-top: 50px;
      h3{
          color: $black;
          padding-bottom: 10px;
      }
      p{
          color: rgba(112, 112, 112, 1);
          line-height: 31px;
      }
      a{
          color: $yellow;
      }
  }

}
