.profile_dashboard{
    .dashboard_screen{
        .dashbar_top{
            .profile{
                a{
                    background-color: rgba(112, 112, 112, 0.1);
                    border-radius: 10px;
                }
            }
            .icon:after{
                @media(max-width:576px){
                    position: unset;
                }
            }
        }
        .edit_customers_box{
            padding-bottom: 50px;
        }
    }
}
