//ryancard_signin_page
.ryancard_signin_page{
    padding: 50px 40px;
    background-color: $white;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    @media(max-width:768px){
        padding: 15px 30px;
    }
    @media(max-width:576px){
        padding: 25px 30px;
    }
    .close_icon{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .signin_form{
        .head_box{
            h4{
                display: inline-block;
                margin-left: auto;
                color: $gray;
                padding-left: 50px;
                margin: 30px 0;
                border: 2px solid $gray-100;
                border-radius: 10px;
                @media(max-width:768px){
                    margin: 10px 0;
                    padding:0 4px;
                }
                @media(max-width:576px){
                    padding: 10px 15px;
                    text-align: center;
                }
            }
            .select_company{
                margin-bottom: 30px;
                border: 2px solid $gray-100;
                width: 430px;
                height: 73px;
                border-radius: 10px;
                @media(max-width:576px){
                    flex-wrap: wrap;
                    width: 330px;
                    height: auto;
                }
                label{
                    @media(max-width:576px){
                        margin: 0 auto;
                    }
                    .custom_btn{
                        width: 0;
                        height: 0;
                        margin: 0;
                        display: none;
                        &:checked + span{
                            background:$yellow;
                            color: $white;
                        }
                    }
                    span{
                        padding: 12px 30px;
                        width: 100%;
                        text-align: center;
                        transition: 0.5s;
                        border-bottom: 2px solid rgba(0,0,0,0);
                        line-height: 65px;
                        margin: 0 10px;
                        border-radius: 10px;
                    }
                }
            }            
        }
        i{
            position: absolute;
            left: 16px;
            top: 18px;
        }
        button{
            @extend .obk_btn;
            background-color: $yellow;
            border: 0;
            border-radius: 5px;
        }
        input{
            border: 0;
            padding: 18px 48px;
            background-color: $gray-100;
            border-radius: 10px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

// bg_cover
.bg_cover{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}
