.openSidebar {
  left: 0;
  right: 0;
}

.fs_18 {
  font-size: 1.5rem;
}

.telecom_logo {
  width: 180px;
  height: 150px;
  padding: 20px 0 !important;
}

.obk_logo {
  width: 160px;
  height: 150px;
  padding: 20px 0 !important;
}
