<!-- <div class="bg_cover" [ngStyle]="{ 'display':  openSidebar ? 'block' : 'none'}" (click)="openSidebar =false"></div> -->
<div class="ryan_dashboard d-flex">
  <div class="dashboard_sidebar d-flex flex-column" [ngClass]=" openSidebar ? 'openSidebar' : ''">
    <div class="text-center">
      <a routerLink="/dash/customer" routerLinkActive="active">
        <div class="img-fluid">
          <!-- <img src="assets/images/ryan-logo.png" alt="logo"> -->
          <img src="assets/images/telecomAdmin.png" alt="logo" class="telecom_logo" *ngIf="!isObk">
          <img src="assets/images/obkAdmin.png" alt="logo" class="obk_logo" *ngIf="isObk">
        </div>
      </a>
    </div>
    <div class="dash_menu">
      <ul class="p-0 m-0">
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/customer" routerLinkActive="active" (click)="openSidebar = false">
              <img src="assets/images/customer-icon.svg" alt="icon">
              <h5>{{ 'Customers' | translate}}</h5>
            </a>
          </li>
        </div>
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/card" routerLinkActive="active" (click)="openSidebar =false">
              <img src="assets/images/card.svg" alt="icon">
              <h5>{{'Cards' | translate}}</h5>
            </a>
          </li>
        </div>
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/order" routerLinkActive="active" (click)="openSidebar =false">
              <img src="assets/images/order.svg" alt="icon">
              <h5>{{'Orders' | translate}}</h5>
            </a>
          </li>
        </div>
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/dcorder" routerLinkActive="active" (click)="openSidebar =false">
              <img src="assets/images/change order.svg" alt="icon">
              <h5>{{'DirectChargeOrders' | translate}}</h5>
            </a>
          </li>
        </div>
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/price" routerLinkActive="active" (click)="openSidebar =false">
              <img src="assets/images/price.svg" alt="icon">
              <h5>{{'Prices' | translate}}</h5>
            </a>
          </li>
        </div>
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/report" routerLinkActive="active" (click)="openSidebar =false">
              <img src="assets/images/card.svg" alt="icon">
              <h5>{{'SummaryReport' | translate}}</h5>
            </a>
          </li>
        </div>
        <div class="d-flex main_row">
          <li>
            <a routerLink="/dash/transaction" routerLinkActive="active" (click)="openSidebar =false">
              <img src="assets/images/card.svg" alt="icon">
              <h5>{{'TransactionReport' | translate}}</h5>
            </a>
          </li>
        </div>
      </ul>
    </div>
    <div class="log_out">
      <a (click)="logout()" class="text-center text-white pointer"> <img src="assets/images/back-icon.svg" alt="icon">
        {{'LogOut'| translate}}</a>
    </div>
  </div>

  <div class="dashboard_screen ms-auto">
    <div class="dashbar_top d-flex">
      <div class="dash_menu_icon d-block d-lg-none">
        <a (click)="openSidebar = true"><i class="fas fa-bars"></i></a>
      </div>
      <div class="icon ms-auto">
        <img src="assets/images/web-icon.svg" alt="icon" class="pe-4" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="translator(lang)" *ngFor="let lang of translate.getLangs()">{{lang}}</button>
        </mat-menu>
        <!-- <div class="choose_language">
          <h5>Choose Your Language</h5>
          <ul class="m-0">
            <li><a (click)="translate.use('en')">English</a></li>
            <li><a (click)="translate.use('ar')">Arabic</a></li>
          </ul>
        </div> -->
      </div>
      <div class="fs_18 pe-md-4 ps-md-4 profile">
        <a routerLink="/dash/profile" routerLinkActive="active" class="fs-6">{{'Profile' | translate}}</a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
