<div class="price_dashboard">
  <div class="head">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="fs_32 my-0">{{'Prices' | translate}}</h3>
      <a routerLink="/dash/price/edit" routerLinkActive="active" class="fs_18 add_btn">+ {{'AddNew' | translate}}</a>
    </div>
  </div>
  <div class="cards_row">
    <div class="row">
      <div *ngIf="!isLoading && priceList?.length <= 0">
        <h3 class="fs_32 my-0">{{'NoPriceAvailable' | translate}}</h3>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-4" *ngFor="let price of priceList;">
        <div class="inner_charge_box d-flex flex-column justify-content-between  d-inline pb-3"
          [ngStyle]="{'background-color' : price.isDeleted  ? '#f54646' : '#fff' }">
          <ul class="p-0 m-0">
            <li>
              <p>{{'CustomerName' | translate}}</p>
              <p>: {{price?.customerId?.name}}</p>
            </li>
            <li>
              <p>{{'Date' | translate}}</p>
              <p>: {{price?.createdAt | date:'medium'}}</p>
            </li>
            <li>
              <p>{{'Vendor' | translate}}</p>
              <p> : {{price?.venderId?.name}}</p>
            </li>
            <li>
              <p>{{'Category' | translate}}</p>
              <p>: {{price?.categoryId?.name}}</p>
            </li>
            <li>
              <p>{{'SubCategory' | translate}}</p>
              <p>: {{price?.subCategoryId?.name}}</p>
            </li>
            <li>
              <p>{{'Amount'| translate}}</p>
              <p>: {{price?.amount}}</p>
            </li>
            <li>
              <p>{{'Currency' | translate}}</p>
              <p>: {{price?.currencyId?.name}}</p>
            </li>
          </ul>
          <span class=" ms-3 d-block"><a class="float-end ps-3" (click)="updatePriceNavigate(price)"><img
                src="assets/images/edit.svg" alt="icon"></a>
            <a class="float-end " *ngIf="!price.isDeleted" (click)="getCurrentCustomer(price)"><img
                src="assets/images/Delete.svg" alt="icons"></a></span>
        </div>
      </div>
      <div *ngIf="priceList && priceList?.length > 0" class="paginator">
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
          (paginate)="paginate($event)"></app-paginator>
      </div>
    </div>
  </div>
  <div class="popup_box" *ngIf="isDelete">
    <a (click)="closeDelete()"><img src="assets/images/wrong.svg" alt="icons"></a>
    <h1 class="fs_36">{{'AreYouSure' | translate}}?</h1>
    <p class="fs_18 text-center">{{'RemovePriceConfirm' | translate}}.</p>
    <div class="submit_btns text-center">
      <button (click)="closeDelete()" class="cancel_btn">{{'NoKeepIt' | translate}}</button>
      <button (click)="deletePrice()" class="save_btn mt-3 mt-lg-0">{{'YesSure' | translate}}</button>
    </div>
  </div>
  <div class="overlay_bg" *ngIf="isDelete"></div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
