.fs_32{
  font-size: 2rem;
}

.paginator{
  background-color: #fff;
  margin-bottom: 50px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}