<div>
  <div class="head">
    <div class="d-block d-md-flex align-items-center justify-content-between flex-wrap">
      <h3 class="fs_32 my-0">{{'Customers' | translate}}</h3>
      <div class="d-flex align-items-center mt-2 flex-wrap">
        <div class="dropdown">
          <div class="search me-2 me-md-3 default_option" [formGroup]="searchGroup">
            <input type="search" class="search_field mt-2" formControlName="searchTerm"
              placeholder="{{'CustomerSearch' | translate}}" name="search" title="Search for:" />
          </div>
        </div>
        <div class="d-flex flex-wrap">
            <a routerLink="/dash/customer/edit" routerLinkActive="active" class="fs_18 mr_22 ms-auto add_btn">+ {{'AddNew' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="customers_row">
    <div class="row">
      <div *ngIf="!isLoading && customerList?.length <= 0">
        <h3 class="fs_32 my-0">{{'NoCustomerAvailable' | translate}}</h3>
      </div>
      <div class="col-lg-6 col-xl-4 mb-4" *ngFor="let customer of customerList;">
        <div class="inner_box" [ngStyle]="{'background-color' : customer.isDeleted ? '#f54646' : '#fff' }">
          <span class="fs_24 pb-2">{{customer.name}}</span>
          <p class="mb-0"><a class="fs_18 text-break">{{customer.email}}</a></p>
          <div class="edit_icons">
            <a (click)="updateCustomerNavigate(customer)"><img src="assets/images/edit.svg" alt="icon"
                class="d-block"></a>
            <a (click)="getCurrentCustomer(customer)"><img src="assets/images/Delete.svg" alt="icon" class="mb-0"
                *ngIf="!customer.isDeleted"></a>
          </div>
        </div>
      </div>
      <div *ngIf="customerList && customerList?.length > 0" class="paginator">
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
          (paginate)="paginate($event)"></app-paginator>
      </div>
    </div>
  </div>
  <div class="popup_box" *ngIf="isDelete">
    <a (click)="closeDelete()"><img src="assets/images/wrong.svg" alt="icons"></a>
    <h1 class="fs_36">{{'AreYouSure' | translate}}?</h1>
    <p class="fs_18 text-center">{{'RemoveCustomerConfirm' | translate}}</p>
    <div class="submit_btns text-center">
      <button (click)="closeDelete()" class="cancel_btn">{{'NoKeepIt' | translate}}</button>
      <button (click)="deleteCustomer()" class="save_btn mt-3 mt-lg-0">{{'YesSure' | translate}}</button>
    </div>
  </div>
  <div class="overlay_bg" *ngIf="isDelete"></div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
