<div class="card_dashboard">
  <div class="head">
    <div class="secondBar">
      <h3 class="fs_32 my-0 mb-3">{{'Cards' | translate}}</h3>
      <div class="d-flex align-items-center flex-wrap">
        <!-- <div class="search me-3" [formGroup]="searchGroup">
          <input type="search" class="search_field" formControlName="searchTerm"
            placeholder="{{'CardSearch' | translate}}..." name="search" title="{{'SearchFor' | translate}}:" />
        </div> -->
        <div class="d-flex flex-wrap mr-14 my-3 " [formGroup]="statusGroup">
          <mat-form-field class="daterange filter w-140" appearance="outline"
            [ngStyle]="{ 'display' :  isStatusOpen ? 'block' : 'none' }">
            <mat-label>{{ 'Vendor' | translate}}</mat-label>
            <mat-select formControlName="vendor">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option [value]="vendor.id" *ngFor="let vendor of venderList;">{{vendor.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="daterange w-140 filter" appearance="outline"
            [ngStyle]="{ 'display' :  isStatusOpen ? 'block' : 'none' }">
            <mat-label>{{ 'Category' | translate}}</mat-label>
            <mat-select formControlName="category">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option [value]="category.id" *ngFor="let category of categoryList;">{{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="daterange w-140 filter" appearance="outline"
            [ngStyle]="{ 'display' :  isStatusOpen ? 'block' : 'none' }">
            <mat-label>{{ 'SubCategory' | translate}}</mat-label>
            <mat-select formControlName="subCategory">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option [value]="sub.id" *ngFor="let sub of subCategoryList;">{{sub.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="daterange w-140" appearance="outline"
            [ngStyle]="{ 'display' :  isStatusOpen ? 'block' : 'none' }">
            <mat-label>{{ 'OrderStatus' | translate}}</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">{{"All" | translate}}</mat-option>
              <mat-option value="Available">{{'Available' | translate}}</mat-option>
              <mat-option value="Used">{{'Used' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <img src="assets/images/filter.svg" alt="icon" class="input-group-addon filter_icon"
            (click)="isStatusOpen = !isStatusOpen" aria-hidden="true">
        </div>
        <div class="my-3">
          <a routerLink="/dash/card/edit" routerLinkActive="active" class="fs_18 add_btn"> +
            {{'AddNew' | translate}}</a>
        </div>
        <div class="import_btn">
          <label class="fs_18 add_btn"> {{'Import' | translate}}
            <input type="file" (input)="importExcel($event)" #fileInput (click)="fileInput.value = null"
              accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="cards_row">
    <div class="row">
      <div *ngIf="!isLoading && cardList?.length <= 0">
        <h3 class="fs_32 my-0">{{'NoCardAvailable' | translate}}</h3>
      </div>
      <div class="col-md-6 col-xxl-4 mb-4" *ngFor="let card of cardList;">
        <a class="inner_card d-flex flex-column justify-content-between"
          [ngStyle]="{'background-color' : card.isAvailable === 'Used'   ? '#caababba' : card.isDeleted ? '#f54646': '#fff' }">
          <div class="d-flex pb-3 justify-content-between d-inline cardCont">
            <ul class="p-0 m-0">
              <li class="d-flex">
                <p>{{'Vendor' | translate}} </p>
                <p> : {{ card?.venderName }} </p>
              </li>
              <li>
                <p>{{'Category' | translate}}</p>
                <p>: {{card?.categoryName}}</p>
              </li>
              <li>
                <p>{{'SubCategory' | translate}}</p>
                <p>: {{card?.subCategoryName}}</p>
              </li>
              <li>
                <p>{{'CardNumber' | translate}} </p>
                <p>: {{card?.cardNumber}}</p>
              </li>
              <li>
                <p>{{'SerialNumber' | translate}} </p>
                <p>: {{ card?.serialNumber }}</p>
              </li>
              <li>
                <p>{{'CardCreateTime' | translate}} </p>
                <p>: {{ card?.createdAt | date:'medium' }}</p>
              </li>
              <li *ngIf="card.isAvailable === 'Used' && card?.orderId">
                <p>{{'OrderId' | translate}} </p>
                <p>: {{ card?.orderId }}</p>
              </li>
              <li *ngIf="card.isAvailable === 'Used' && card?.buyBy?.name">
                <p>{{'CustomerName' | translate}} </p>
                <p>:
                  {{ card?.buyBy?.name }}</p>
              </li>
              <li *ngIf="card.isAvailable === 'Used' && card?.buyAt">
                <p>{{'BuyTime' | translate}} </p>
                <p>:
                  {{ card?.buyAt | date:'medium'}}</p>
              </li>
            </ul>
          </div>
          <div class="cardAction d-flex align-items-center justify-content-between pb-3">
            <span class="fs_18 mb-0 available text-center"
              [ngStyle]="{'color' : card.isAvailable === 'Used'  ? 'red' : '' }">{{card.isAvailable}}</span>
            <div>
              <span class="f-right ms-3" *ngIf="card.isAvailable !== 'Used'"><a (click)="updateCardNavigate(card)"><img
                    src="assets/images/edit.svg" alt="icon" class="d-block"></a></span>
              <span class="f-right" *ngIf="!card.isDeleted"><a (click)="getCurrentCard(card)"><img
                    src="assets/images/Delete.svg" alt="icons"></a></span>
            </div>
          </div>
        </a>
      </div>
      <div *ngIf="cardList && cardList?.length > 0" class="paginator">
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
          (paginate)="paginate($event)"></app-paginator>
      </div>
    </div>
  </div>
  <div class="popup_box" *ngIf="isDelete">
    <a (click)="closeDelete()"><img src="assets/images/wrong.svg" alt="icons"></a>
    <h1 class="fs_36">{{'AreYousure' | translate}}</h1>
    <p class="fs_18 text-center">{{'RemoveCardConfirm' | translate}}.</p>
    <div class="submit_btns text-center">
      <button (click)="closeDelete()" class="cancel_btn">{{'NoKeepIt' | translate}}</button>
      <button (click)="deleteCard()" class="save_btn mt-3 mt-lg-0">{{'YesSure' | translate}}</button>
    </div>
  </div>
  <div class="popup_box" *ngIf="isError">
    <a (click)="isError = false"><img src="assets/images/wrong.svg" alt="icons"></a>
    <h1 class="fs_36"> Please fix error and try again</h1>
    <div *ngIf="errorList">
      <p class="fs_18 text-danger" *ngFor="let error of errorList;" style="margin-bottom: 5px;">{{error}}</p>
    </div>
    <div class="submit_btns text-center">
      <button (click)="isError = false" class="cancel_btn">{{'Close' | translate}}</button>
    </div>
  </div>
  <div class="overlay_bg" *ngIf="isDelete || isError"></div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
