.fs_32 {
  font-size: 2rem;
}

.f-right {
  float: right;
}

.daterange {
  height: 50px;
  margin-right: 20px;
}

.filter {
  @media (max-width: 768px) {
    width: 100% !important;
    margin-bottom: 20px;
  }
}

.mr-14 {
  margin-right: 14px;
}

.paginator {
  background-color: #fff;
  margin-bottom: 50px;
}

.secondBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 768PX) {
    display: block;
  }
}

.import_btn {
  margin-left: 14px;
  cursor: pointer;
}

.w-140 {
  width: 140px;
}

input[type="file"] {
  display: none;
}
// .cardCont{
//   height: calc(100% - 70px);
// }
// .cardAction{
//   position: absolute;
//     display: block;
//     width: 100%;
//     bottom: 20px;
//     left: 0;
//     padding: 0 20px;
// }
