  <!-- slider section -->
  <section class="obk_slider pb-0">
    <div class="obk_slick_slider">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="slider">
          <div class="container">
            <div class="row align-items-center justify-content-between g-0">
              <div class="col-lg-5 text-center text-md-start">
                <div class="left_dtl mb-5 mb-lg-0">
                  <div class="logo ">
                    <a href="#" class="bg-transparent p-0">
                      <img src="assets/images/obk-big-logo.png" alt="logo" class="img-fluid mx-auto mx-md-0">
                    </a>
                  </div>
                  <h2>Awesome App for Your <br> Finance Management </h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown.</p>
                  <a href="/home/landing#aboutRate" class="btn">Download App</a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right_dtl">
                  <img src="assets/images/slider-.png" alt="card" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="scroll_icon text-center">
              <a href="/home/landing#aboutRate"><img src="assets/images/mouse.png" alt="scroll" class="mx-auto"></a>
              <p class="pt-2">Scroll</p>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider slider2">
          <div class="container">
            <div class="row align-items-center justify-content-between g-0">
              <div class="col-lg-5">
                <div class="left_dtl mb-5 mb-lg-0">
                  <div class="logo">
                    <a href="#" class="bg-transparent p-0">
                      <img src="assets/images/User.png" alt="logo" class="img-fluid">
                    </a>
                  </div>
                  <h2>Awesome App for Your <br> Finance Management </h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown.</p>
                  <a href="#" class="btn">Download App</a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right_dtl">
                  <img src="assets/images/slider-2.png" alt="card" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="scroll_icon text-center">
              <a href="/home/landing#aboutRate"><img src="assets/images/mouse.png" alt="scroll" class="mx-auto"></a>
              <p class="pt-2">Scroll</p>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>

  <!-- about rating section -->
  <section class="about_rating_section" id="aboutRate">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="inner_box text-center">
            <div class="rate d-flex align-items-center justify-content-center">
              <img src="assets/images/user-icon.svg" alt="icon">
              <span class="fs_40 text_yellow">1265</span>
            </div>
            <p class="mb-0">Users</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner_box text-center">
            <div class="rate d-flex align-items-center justify-content-center">
              <img src="assets/images/dwld-icon.svg" alt="icon">
              <span class="fs_40 text_yellow">1000+</span>
            </div>
            <p class="mb-0">Download</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner_box text-center">
            <div class="rate d-flex align-items-center justify-content-center">
              <img src="assets/images/like-icon.svg" alt="icon">
              <span class="fs_40 text_yellow">508+</span>
            </div>
            <p class="mb-0">Likes</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner_box text-center">
            <div class="rate d-flex align-items-center justify-content-center">
              <img src="assets/images/star-icon.svg" alt="icon">
              <span class="fs_40 text_yellow">809+</span>
            </div>
            <p class="mb-0">5 Star Rating</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- obk card app section -->
  <section class="obk_card_app_section">
    <div class="container position-relative">
      <div class="head_box">
        <div class="select_app d-flex justify-content-between">
          <div class="app_btn obk_app_btn user_btn " [ngClass]="isUser ? 'active' : ''" (click)="isUser = true">
            <span class="fs_18">User App</span>
          </div>
          <div class="app_btn obk_app_btn admin_btn" [ngClass]=" isUser ? '' : 'active' " (click)="isUser = false">
            <span class=" fs_18">Admin App</span>
          </div>
        </div>
      </div>
      <div class="adminapp" [ngStyle]="{'display': isUser ? 'none' : 'block' }">
        <div class="row align-items-center justify-content-evenly ">
          <div class="col-lg-6 text-center order-2 order-lg-1">
            <div class="left_img">
              <img src="assets/images/obk-card-app.png" alt="cardapp" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 mb-5 mb-lg-0 text-center text-md-start">
            <div class="right_dtl">

              <div class="details adminapp_details">
                <div class="logo">
                  <a href="#">
                    <img src="assets/images/obk-big-logo.png" alt="logo" class="img-fluid">
                  </a>
                </div>
                <h2>OBK Card App</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <div class="store_dtl">
                  <a href="#"><img src="assets/images/play store.png" alt="store" class="img-fluid"></a>
                  <a href="#"><img src="assets/images/app store.png" alt="store" class="img-fluid me-0"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="userapp" [ngStyle]="{'display': isUser ? 'block' : 'none' }">
        <div class="row align-items-center justify-content-evenly ">
          <div class="col-lg-6 text-center order-2 order-lg-1">
            <div class="left_img d-flex justify-content-evenly">
              <img src="assets/images/Buy Cards.png" alt="userapp" class="me-3 me-lg-0">
              <img src="assets/images/sidemenu.png" alt="userapp">
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 mb-5 mb-lg-0 text-center text-md-start">
            <div class="right_dtl">
              <div class="details userapp_details">
                <div class="logo">
                  <a href="#">
                    <img src="assets/images/obk-big-logo.png" alt="logo" class="img-fluid">
                  </a>
                </div>
                <h2>OBK Card App</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <div class="store_dtl">
                  <a href="#"><img src="assets/images/play store.png" alt="store" class="img-fluid"></a>
                  <a href="#"><img src="assets/images/app store.png" alt="store" class="img-fluid me-0"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg_square">
      <img src="assets/images/rounded-rec-bg.png" alt="square" class="img-fluid">
    </div>
  </section>

  <!-- telecom app section -->
  <section class="obk_card_app_section telecom_app_section pb-100">
    <div class="container position-relative">
      <div class="head_box">
        <div class="select_app d-flex justify-content-between">
          <div class="app_btn tel_app_btn user_btn2" [ngClass]="isUser2 ? 'active': ''" (click)="isUser2 = true">
            <span class="fs_18">User App</span>
          </div>
          <div class="app_btn tel_app_btn admin_btn2" [ngClass]="isUser2 ? '': 'active'" (click)="isUser2 = false">
            <span class="fs_18">Admin App</span>
          </div>
        </div>
      </div>
      <div class="userapp" [ngStyle]="{'display': isUser2 ? 'block' : 'none' }">
        <div class="row align-items-center justify-content-evenly ">
          <div class="col-lg-5 text-center text-md-start mb-5 mb-lg-0">
            <div class="right_dtl">
              <div class="details">
                <div class="logo">
                  <a href="#">
                    <img src="assets/images/User.png" alt="logo" class="img-fluid img">
                  </a>
                </div>
                <h2>Telecom Almukhtar App</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <div class="store_dtl">
                  <img src="assets/images/play store.png" alt="store" class="img-fluid">
                  <img src="assets/images/app store.png" alt="store" class="img-fluid me-0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <div class="left_img">
              <img src="assets/images/telecom app.png" alt="cardapp" class="img-fluid w-auto h-auto m-0">
            </div>
          </div>
        </div>
      </div>
      <div class="adminapp" [ngStyle]="{'display': isUser2 ? 'none' : 'block' }">
        <div class="row align-items-center justify-content-evenly">
          <div class="col-lg-5 text-center text-md-start mb-5 mb-lg-0">
            <div class="right_dtl">
              <div class="details">
                <div class="logo">
                  <a href="#">
                    <img src="assets/images/Admin.png" alt="logo" class="img-fluid img">
                  </a>
                </div>
                <h2>Telecom Almukhtar App</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <div class="store_dtl">
                  <img src="assets/images/play store.png" alt="store" class="img-fluid">
                  <img src="assets/images/app store.png" alt="store" class="img-fluid me-0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <div class="left_img">
              <img src="assets/images/telecom app.png" alt="cardapp" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg_square bg_square2">
      <img src="assets/images/rounded-sq-2.png" alt="square" class="img-fluid">
    </div>
  </section>

  <!-- obk card feachers section -->
  <section class="obk_card_feachers_section">
    <div class="container">
      <div class="inner_fechers_box">
        <div class="row">
          <div class="col-lg-2 w-20">
            <div class="logo_box me-lg-2">
              <img src="assets/images/admin obk-white-logo.png" alt="logo">
              <h3 class="fs_25">OBK Card App <span> Features</span></h3>
            </div>
          </div>
          <div class="col-lg-4 col-xl-5 w-40">
            <div class="main_col">
              <div class="feach_box">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="feach_box mb-0">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-5 w-40">
            <div class="main_col">
              <div class="feach_box">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="feach_box mb-0">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- telecom card feachers section -->
  <section class="obk_card_feachers_section telecom_card_feachers_section">
    <div class="container">
      <div class="inner_fechers_box">
        <div class="row">
          <div class="col-lg-4 col-xl-5 w-40 order-2 order-lg-1">
            <div class="main_col">
              <div class="feach_box">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="feach_box mb-0">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-5 w-40 order-3 order-lg-2">
            <div class="main_col">
              <div class="feach_box">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="feach_box mb-0">
                <h4>Feature 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 w-20 order-1 order-lg-last">
            <div class="logo_box ms-lg-2">
              <img src="assets/images/user-white-logo.png" alt="logo">
              <h3 class="fs_25">Telecom Almukhtar App</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- contact Us section -->
  <section class="contact_section" id="contactUS">
    <div class="container">
      <h2 class="text-center">CONTACT US</h2>
      <div class="inner_box">
        <div class="d-flex flex-wrap">
          <div class="left_dtl">
            <ul class="p-0 m-0">
              <div class="d-flex align-items-center align-items-lg-stretch">
                <span class="text-center mt-0"><a href="#"><i class="fas fa-map-marker-alt"></i></a></span>
                <li><a href="#">1851 Murphy Court, Riverside, CA, California.</a></li>
              </div>
              <div class="d-flex align-items-center">
                <span class="text-center"><a href="#"><i class=" fas
                    fa-phone-alt"></i></a></span>
                <li> <a href="tel:+91 - 9998880000 / +91 - 9990008888">+91 - 9998880000 / +91 -
                    9990008888</a></li>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="text-center mb-0"><a href="mailto:test123@gmail.com"><i
                      class="fas fa-envelope"></i></a></span>
                <li><a href="mailto:test123@gmail.com">test123@gmail.com</a></li>
              </div>
            </ul>
          </div>
          <div class="right_dtl">
            <div class="contact_box">
              <form>
                <div>
                  <i><img src="assets/images/user-single-icon.svg" alt="icon"></i>
                  <input type="text" placeholder="Name" class="name fs_18" required>
                </div>
                <div>
                  <i><img src="assets/images/email-icon.svg" alt="icon"></i>
                  <input type="email" placeholder="Email" class="name fs_18" required>
                </div>
                <div>
                  <i><img src="assets/images/call-icon.svg" alt="icon"></i>
                  <input type="text" placeholder="Mobile Number" class="name fs_18" required>
                </div>
                <div>
                  <i><img src="assets/images/comment-icon.svg" alt="icon"></i>
                  <input type="text" placeholder="Your Message" class="name fs_18" required>
                </div>
                <div>
                  <button class="text-center fs_18">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
