.fs_32 {
  font-size: 2rem;
}

.f-right {
  float: right;
}

.daterange {
  height: 50px;
  margin-right: 20px;
}

.filter {
  @media (max-width: 768px) {
    width: 100% !important;
    margin-bottom: 20px;
  }
}

.mr-14 {
  margin-right: 14px;
}

.paginator {
  background-color: #fff;
  margin-bottom: 50px;
}

.secondBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 768PX) {
    display: block;
  }
}

.w-300 {
  width: 300px;
}

.mainBox {
  width: 80%;
  margin: auto;

  @media (max-width: 768PX) {
    width: 100%;
  }
}

.subGroup {
  padding-left: 2rem;

  @media (max-width: 768PX) {
    padding: 0;
  }
}

.mainText {
  font-size: 20px;
  font-weight: 500;
}

.subList {
  font-size: 18px;
  border-bottom: 1px solid #c4c2c2a6;
  margin-bottom: 10px;
  padding: 0 20px 10px 20px;

  span {
    &:last-child {
      float: right;
      font-weight: 600;
    }
  }

  @media (max-width: 768PX) {
    font-size: 18px;
  }
}

.mb_10 {
  @media (max-width: 768PX) {
    margin-bottom: 24px;
  }
}

// .cardCont{
//   height: calc(100% - 70px);
// }
// .cardAction{
//   position: absolute;
//     display: block;
//     width: 100%;
//     bottom: 20px;
//     left: 0;
//     padding: 0 20px;
// }
