<div class="card_dashboard">
  <div class="head">
    <div class="secondBar">
      <h3 class="fs_32 my-0 mb-3">{{'SummaryReport' | translate}}</h3>
      <div class="d-flex align-items-center flex-wrap" [formGroup]="reportForm">
        <mat-form-field class="daterange w-300 mb_10" appearance="outline">
          <mat-label>{{ 'Vendor' | translate}}</mat-label>
          <mat-select formControlName="vendor">
            <mat-option value="">{{"All" | translate}}</mat-option>
            <mat-option [value]="vendor.id" *ngFor="let vendor of venderList;">{{vendor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="daterange  w-140" appearance="outline">
          <mat-label>{{ 'CardStatus' | translate}}</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">{{"All" | translate}}</mat-option>
            <mat-option value="Available">{{'Available' | translate}}</mat-option>
            <mat-option value="Used">{{'Used' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="cards_row">
    <h1 class="fs_32 my-0 mb-3" *ngIf="!isLoading && categoryList?.length > 0">{{'Category' | translate}}</h1>
    <h1 class="fs_32 my-0 mb-3" *ngIf="!isLoading && categoryList?.length <= 0">{{'NoDataAvailable' | translate}}</h1>
    <br>
    <div class="mainBox">
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let category of categoryList;" (opened)="getSubCategoryList(category.id)">
          <mat-expansion-panel-header>
            <mat-panel-title> <span class="mainText">{{category?.name}} </span> </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="subGroup">
            <li *ngFor="let sub of category?.subCategoryList" class="subList"> <span>{{sub?.name[0]}}</span>
              <span>{{sub?.count}}</span>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
