.disable {
  opacity: 50%;
  cursor: no-drop;
}

.fs_24 {
  font-size: 1.5rem;
}

.fs_32 {
  font-size: 2rem;
}

.errorText {
  min-height: 20px;
  display: block;
}

.CurrencySelect {
  width: 100%;
  background-color: transparent;
  border: 1px solid #141B38;
  border-radius: 5px;
  padding: 15px 20px;
}
