<div class="add_customers_dashboard">
  <div class="head">
    <div class="d-flex align-items-center">
      <a routerLink="/dash/customer" routerLinkActive="active" class="pe-4"><img src="assets/images/backarw-icon.svg"
          alt="icon"></a>
      <h3 class="fs_32 my-0">{{"Customers" | translate}}</h3>
    </div>
  </div>
  <form [formGroup]="customerForm">
    <div class="edit_customers_box pb-100">
      <h4 class="fs_24">{{"AddCustomer" | translate}}</h4>
      <div>
        <div class="row fst_col">
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{'Name' | translate}}</label>
            <input type="text" id="text" placeholder="{{'NamePlaceholder' | translate}} ..." class="fs_14"
              formControlName="name" required> <br>
            <span class="text-danger errorText"><span *ngIf="controlHasError('required', 'name')">
                {{"PleaseEnterName" | translate}}</span></span>
          </div>
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{"Email" | translate}}</label>
            <input type="email" id="email" placeholder="{{'EmailPlaceholder' | translate}} ..." class="fs_14"
              formControlName="email" required> <br>
            <span class="text-danger errorText"><span *ngIf="controlHasError('required', 'email')">
                {{"PleaseEnterEmail" | translate}}</span></span>
          </div>
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{"PhoneNumber" | translate}}</label>
            <input type="text" placeholder="{{'PhoneNumberPlaceholder' | translate}} ..." class="fs_14"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              formControlName="contact" required> <br>
            <span class="text-danger errorText"><span *ngIf="controlHasError('required', 'contact')">
                {{"PleaseEnterPhoneNumber" | translate}}</span></span>
          </div>
        </div>
        <div class="row fst_col">
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{"Address" | translate}}</label>
            <input type="text" id="texts" placeholder="{{'AddressPlaceholder' |  translate}} ..." class="fs_14"
              formControlName="address" required> <br>
            <span class="text-danger errorText"><span *ngIf="controlHasError('required', 'address')">
                {{"PleaseEnterAddress" | translate}}</span></span>
          </div>
          <div class="col-xl-4">
            <label class="fs_18">{{"Balance" | translate}}</label>
            <input type="text" placeholder="00.00" class="fs_14" formControlName="balance" required
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');"> <br>
            <span class="text-danger errorText"><span *ngIf="controlHasError('required', 'balance')">
                {{"PleaseEnterAmount" | translate}}</span></span>
          </div>
          <div class="col-xl-4">
            <label class="fs_18 w-100">{{"Currency" | translate}}</label>
            <select disabled class="CurrencySelect">
              <option value="">{{"PleaseSelectCurrency" | translate}}</option>
              <option value="currentUser?.currencyId?.id" selected>{{currentUser?.currencyId?.currency}}</option>
            </select>
            <span class="text-danger errorText"></span>
          </div>
        </div>
        <div class="row fst_col">
          <div class="col-xl-4">
            <div class="position-relative">
              <label class="fs_18 w-100">{{"Password" | translate}}</label>
              <input [type]="isPassword ? 'password' : 'text'" class="fs_14 test-input" formControlName="password"
                autocomplete="off" required>
              <a class="click_eye" (click)=" isPassword = !isPassword ">
                <i class="far fa-eye" *ngIf="isPassword"></i>
                <img src="assets/images/pass-eye-icon.svg" alt="arrow" *ngIf="!isPassword">
              </a>
            </div>
            <span>
              <span class="text-danger errorText"><span *ngIf="controlHasError('required', 'password')">
                  {{"PleaseEnterPassword" | translate}}</span></span>
            </span>
          </div>
          <div class="col-xl-4">
            <div class="position-relative">
              <label class="fs_18 w-100">{{"ConfirmPassword" | translate}}</label>
              <input [type]="isConfirmPassword ? 'password': 'text'" class="fs_14 test-input" autocomplete="off"
                formControlName="confirmPassword" required>
              <a class="click_eye" (click)="isConfirmPassword = !isConfirmPassword">
                <i class="far fa-eye" *ngIf="isConfirmPassword"></i>
                <img src="assets/images/pass-eye-icon.svg" alt="arrow" class="check" *ngIf="!isConfirmPassword">
              </a>
            </div>
            <span>
              <span class="text-danger" *ngIf="controlHasError('required', 'confirmPassword')">
                {{"PleaseEnterPassword" | translate}}</span>
            </span>
            <span>
              <span class="text-danger errorText"><span *ngIf="hasError">
                  {{"ConfirmPasswordShouldBeSameAsPassword" | translate}}</span></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="submit_btns">
      <button class="cancel_btn" (click)="customerForm.reset()">{{"Reset" | translate}}</button>
      <button class="save_btn" (click)="submit()" [disabled]="customerForm.invalid"
        [ngClass]="customerForm.invalid ? 'disable': ''">{{"Save" | translate}}</button>
    </div>
  </form>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
