<div class="popup_box">
  <h1 class="fs_36" mat-dialog-title>{{'UpdateBalance' | translate}}</h1>
  <p mat-dialog-content class="m-0">{{'PleaseEnterAmount' | translate}}
  </p> <br>
  <p class="col-xl-8">
    <label class="fs_18 w-100">{{'Amount' | translate}}</label>
    <input type="text" class="custom-input" placeholder="00.00" [(ngModel)]="data.updateBalance" required min="0"
      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '');">
    <br>
  </p>
  <div class="submit_btns text-center" mat-dialog-actions>
    <button (click)="onNoClick()" class="cancel_btn">{{"Cancel" | translate}}</button>
    <button [mat-dialog-close]="data.updateBalance" [disabled]="!data.updateBalance"
      [ngClass]="data.updateBalance ? '' : 'disable'" class="save_btn mt-3 mt-lg-0">{{'Update' | translate}}</button>
  </div>
</div>
