.m-0 {
  margin: 0;
  padding: 0;
}

.custom-input {
  background-color: transparent;
  border: 1px solid #141B38;
  border-radius: 5px;
  padding: 15px 20px;
}

.disable {
  opacity: 50%;
  cursor: no-drop;
}
