/* You can add global styles to this file, and also import other style files */
@import './assets/main.scss';
@import './assets/main.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.blockoverflow {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.loadingPointer {
  cursor: progress !important;
}

// body.dir_rtl {
// }


body.dir_rtl {
  direction: rtl;

  .ryan_dashboard {

    .edit_customers_box {
      .fst_col {
        p {
          select {
            background-position: left center;
          }
        }

        &:nth-of-type(1) {
          order: 3;
        }

        &:nth-of-type(2) {
          order: 2;
        }

        &:nth-of-type(3) {
          order: 1;
        }

        .click_eye {
          left: 40px;
          right: unset;

          @media(max-width:1440px) {
            left: 32%;
          }

          @media(max-width:1200px) {
            left: 40px;
          }

          @media(max-width:768px) {
            left: 20px;
          }
        }
      }

      .bal_box {
        .me-4 {
          margin-right: 0 !important;
          margin-left: 1.5rem !important;
        }
      }
    }

    .dashboard_sidebar {
      @media(max-width:768px) {
        right: -100%;
        left: unset;
      }

      .dash_menu {
        padding-left: 15px;
        padding-right: 0;

        ul {
          li {
            a {
              &:hover {
                border-radius: 35px 0 0 35px;
              }

              &:after {
                right: 5px;
                left: unset;
              }
            }

            a.active {
              border-radius: 35px 0 0 35px;

              &:after {
                right: 5px;
                left: unset;
              }
            }
          }
        }
      }

      .log_out {
        img {
          margin-right: 0;
          margin-left: 20px;
        }
      }
    }

    .ms-auto {
      margin-right: auto !important;
      margin-left: unset !important;
    }

    .icon {
      .choose_language {
        @media(max-width:768px) {
          left: 0 !important;
          right: unset !important;
        }
      }
    }

    .dashbar_top {
      .ms-auto {
        margin-left: unset !important;
        margin-right: unset !important;
      }

      .icon {
        @media(max-width:768px) {
          margin-right: auto !important;
        }

        img {
          padding-left: 1.5rem !important;
          padding-right: 0 !important;
        }

        &:after {
          left: 0;
          right: unset;
        }

        .choose_language {
          right: -35px;
          top: 28px;
        }
      }

      .profile {
        padding-left: 0 !important;
      }
    }

    .customers_row {
      .inner_box {
        text-align: right;

        .edit_icons {
          left: 10px;
          right: unset;
        }
      }
    }
  }

  .add_price_dashboard {
    .head {
      a {
        transform: rotate(180deg);
      }
    }
  }

  .orders_dashboard {
    .dashboard_screen {
      .head {
        .dropdown {
          order: 1;
        }

        .input-group .form-control {
          margin-left: 1rem !important;
          padding-right: 85px;

          @media(max-width:576px) {
            padding-right: 10px;
          }
        }
      }

      .search_field {
        padding-left: 10px;
        padding-right: 50px;
        background-position: right center;
      }
    }
  }

  .edit_customers_dashboard {
    .head {
      a {
        transform: rotate(180deg);
      }
    }
  }

  .edit_card_dashboard {
    .head {
      a {
        transform: rotate(180deg);
      }
    }
  }

  .add_card_dashboard {
    .head {
      a {
        transform: rotate(180deg);
      }
    }
  }

  .popup_box {
    img {
      left: 10px;
      right: unset;
    }
  }

  .card_dashboard {
    .head {
      .search {
        order: 1;

        .search_field {
          padding-left: 10px;
          padding-right: 50px;
          background-position: right center;
        }

        .search_field:focus {
          @media(max-width:1200px) {
            width: 330px;
          }

          @media(max-width:576px) {
            width: 165px;
          }
        }
      }
    }
  }

  .add_customers_dashboard {
    .head {
      a {
        transform: rotate(180deg);
      }
    }

    .edit_customers_box {
      .fst_col {
        &:nth-of-type(1) {
          order: 3;
        }

        &:nth-of-type(2) {
          order: 2;
        }

        &:nth-of-type(3) {
          order: 1;
        }

        .click_eye {
          left: 40px;
          right: unset;

          @media(max-width:1440px) {
            left: 32%;
          }

          @media(max-width:1200px) {
            left: 40px;
          }
        }
      }
    }
  }
}
