<div class="add_card_dashboard">
  <div class="head">
    <div class="d-flex align-items-center">
      <a routerLink="/dash/card" routerLinkActive="active" class="pe-4"><img src="assets/images/backarw-icon.svg"
          alt="icon"></a>
      <h3 class="fs_32 my-0">{{'Cards' | translate}}</h3>
    </div>
  </div>
  <form [formGroup]="cardForm">
    <div class="edit_customers_box pb-100">
      <h4 class="fs_24">{{'AddCard' | translate}}</h4>
      <div>
        <div class="row fst_col">
          <p class="col-xl-4">
            <label class="fs_18 w-100">{{"CardNumber" | translate}}</label>
            <input type="text" id="number" placeholder="{{'CardNumberPlaceholder' | translate}} ..." class="fs_14"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              formControlName="cardNumber"> <br>
            <span class="errorText text-danger"> <span *ngIf="controlHasError('required', 'cardNumber')">
                {{'PleaseEnterCardNumber' | translate}}</span></span>
          </p>
          <p class="col-xl-4">
            <label class="fs_18 w-100">{{'SerialNumber' | translate}}</label>
            <input type="text" id="number" placeholder="{{'SearialNumberPlaceholder' | translate}}..." class="fs_14"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              formControlName="serialNumber" required> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'serialNumber')">
                {{"PleaseEnterSerialNumber" | translate}} </span></span>
          </p>
          <p class="col-xl-4">
            <label class="fs_18 w-100">{{'CardVender' | translate}}</label>
            <select formControlName="venderId" (ngModelChange)="getCategoryList($event)">
              <option value="" selected>---- {{'PleaseSelectVendor' | translate}}----</option>
              <option [value]="vender.id" *ngFor="let vender of venderList;">{{vender.name}}</option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'venderId')">
                {{'PleaseSelectVendor' |translate}}</span></span>
          </p>
        </div>
        <div class="row fst_col">
          <p class="mb-0 col-xl-4">
            <label class="fs_18 w-100">{{'Cardcategory' | translate}}</label>
            <select formControlName="categoryId" (ngModelChange)="getSubCategoryList($event)">
              <option value="" selected>---- {{'PleaseSelectCategory' | translate}} ----</option>
              <option [value]="category.id" *ngFor="let category of categoryList;">{{category.name}}</option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'categoryId')">
                {{'PleaseSelectCategory' | translate}} </span></span>
          </p>
          <p class="mb-0 col-xl-4">
            <label class="fs_18 w-100">{{'CardSubCategory' | translate}}</label>
            <select formControlName="subCategoryId">
              <option value="" selected>---- {{"PleaseSelectSubcategory" | translate}} ----</option>
              <option [value]="subCategory.id" *ngFor="let subCategory of subCategoryList;">{{subCategory.name}}
              </option>
            </select> <br>
            <span class="errorText"><span class="text-danger" *ngIf="controlHasError('required', 'subCategoryId')">
                {{'PleaseSelectSubcategory' | translate}} </span></span>
          </p>
        </div>
      </div>
    </div>
    <div class="submit_btns">
      <button class="cancel_btn" (click)="reset()">{{"Reset" | translate}}</button>
      <button class="save_btn" (click)="submit()" [disabled]="cardForm.invalid"
        [ngClass]="cardForm.invalid ? 'disable': ''">{{'Save' | translate}}</button>
    </div>
  </form>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
