.disable {
  opacity: 50%;
  cursor: no-drop;
}

.fs_24 {
  font-size: 1.5rem;
}

.fs_32 {
  font-size: 2rem;
}

.errorText {
  min-height: 20px;
  display: block;
}

@media (max-width: 576px){
  .submit_btns button {
      width: 100px;
  }
      .submit_btns .cancel_btn {
        margin-right: 12px;
    }
}

	


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}